html {
	height: 100%	
}

body {
	height: 100%;
	font-size: 16px;
	pointer-events:none;
	margin: 0;	
	font: 14px/20px 'Trebuchet MS', Verdana, Arial;
	overflow: hidden;
}

#container {
	text-align: center;	
	height: 100%;
	position: relative;
}

img#logo {
	position: absolute;
	top: 5px;
	left: 57px;
	z-index: 100;	
}

a#home {
	z-index: 100;
	pointer-events: all;	
}

html.ie7 #container {
	text-align: left !important;	
}

a {
	text-decoration: none;	
	color: white;
	font-family: 'Cookie', cursive;
	font-size: 1.8em;
	-moz-transition: color 1s ease;
}

a img {
	border: none;	
}

div.clear {
	display: block;
	position: relative;
	height: 0;
	width: 100%;
	clear: both;	
}

#googlemap {
	display: block;
	position: fixed !important;
	min-height: 100% !important;
	top: 0; bottom: 0; left: 0; right: 0;
	pointer-events: all !important;
	z-index: 0;
}

div.spacer {
	display: block;
	position: relative;
	height: 20px;
	width: 100%;
	clear: both;
}

#snow {
    bottom: 0;
    display: none;
    left: 0;
    pointer-events: none !important;
    position: fixed !important;
    right: 0;
    top: 0;
    z-index: 1;
	background: none !important;
}
#pile {
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 90px;
	left: 0;
	background-image: url("../img/snow.png");	
}

#globe {
    -moz-transform-origin: 100px 1040px;
    -moz-transition: all 1s ease 0s;
	-webkit-transform-origin: 100px 1040px;
    -webkit-transition: all 1s ease 0s;
	-o-transform-origin: 100px 1040px;
    -o-transition: all 1s ease 0s;
    bottom: 0;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
	background: none !important;
	overflow: hidden;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#globe #hh_base {
	pointer-events: all;	
}

#globe img {
	position: absolute;
	bottom: -100px; left: 0; right: 0;
	margin: 0 auto;	
	max-width: 100%;
}

html.ie7 #globe img, html.ie7 #globe iframe {
	text-align: center;	
	width: auto;
	right: auto !important;
	left: 50%;
	margin-left: -420px;
}

html.ie7 #globe iframe {
	margin-left: -360px;	
}

html.ie7 #globe #exit {
	left: 50%;	
}

#start {
	display: block;
	position: absolute;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	left: 0; right: 0;
	margin: 0 auto 0 -230px;	
	width: 140px;
}


#logo {
	margin-left: -52px;	
}

figure {
	display: block;
	background: #EEE;
	padding: 10px;
	max-width: 420px;
}

#contact {
	width: 250px;
	position: absolute;
	pointer-events: all;
	bottom: 100px;
	left: 0; right: 0;
	margin: 0 auto;
}

html.ie7 #contact {
	left: 50% !important; right: auto !important;
		
}

#globe iframe {
	position: absolute;
	width: 340px;
	height: 255px;
	bottom: 200px;
	left: 0;
	right: 240px;
	margin: 0 auto;
	pointer-events: all;
}

#globe #exit {
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	bottom: 200px;
	left: 0;
	right: 620px;
	margin: 0 auto;
	pointer-events: all;
}

#globe #exit img {
	max-width: 100%;	
}

#hh_base {
	z-index: -10;
}

#hh_top {
	pointer-events: none;	
}

.ie7 #smglobe img, .ie8 #smglobe img, .ie7 #smglobe a, .ie8 #smglobe a {
	display: none;	
}

.ie7 footer, .ie8 footer {
	display: block;
}

#smglobe {
	opacity: 1;	
	position: absolute;
	width: 100%;
	bottom: 0;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	z-index: 10;
	pointer-events: none;
}

#smglobe img {
	float: left;	
	margin-left: 10px;
	opacity: 0;
}

#smglobe a {
	float: left;
	color: #003366;
	font-size: 27px;
	width: auto;
	margin: 70px 30px 0;
	position: relative;
	opacity: 0;
	pointer-events: none;
}

.ie7 #smglobe a, .ie8 #smglobe a, .ie9 #smglobe a, .ie7 #smglobe img, .ie8 #smglobe img, .ie9 #smglobe img {
	display: none;	
}

div.googleInfo {
	text-align: left;	
}

div.author {
	font-size: 18px;
	color: #009be3;	
	margin-bottom: 20px;
	font-family: "Cookie", cursive;
}

div.story {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;	
}

div.errorBox {
	margin-bottom: 10px;	
}

footer {
	z-index:100;
}	

.youtubeHolder {
	display: block;
	z-index: 0;
	position: relative;
	background-color: black;
	width: 420px;
	height: 315px;	
}

iframe.youtubeOverlay {
	display: none;	
}

form#search {
	color: white;
	pointer-events: all;
	display: block;
	position: absolute;
	left: 6px;
	top: 77px;
	text-align: left;
	z-index: 11;
}

form#search label {
	display: block;
	margin-left: 4px;		
}

form#search input {
	height: 22px;
	width: 139px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	background-image: url('../img/search_sm.png');
	background-repeat: no-repeat;
	background-position: 6px 5px;
	padding: 0 0 0 24px;
}

form#search input:focus {
	outline: none;	
}

div.result {
	background: white;
	pointer-events: all;
	padding: 5px;
}

div#resultcontainer {
	position: relative;
	display: block;
	max-height:50%;
	overflow-y: scroll;	
	z-index: 11;
}

div.result h2 {
	margin: 0;	
}

div.result h2 a {
	margin: 0 0 3px 0;	
	color: #9AC1D6;
	font-size: 18px;
	font-weight: normal;
	line-height: 20px;
	text-align: left;
}

div.result p {
	margin: 0 0 5px 0;
	font-size: 11px;
	color: #333;
}

a.searchForMe {
	background-image: url('../img/agent.png');
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding: 7px 0 0 33px;	
}

a.searchForDepartment {
	background-image: url('../img/home.png');
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding: 14px 0 0 33px;	
}

a.searchForGroup {
	background-image: url('../img/multi-agents.png');
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding: 14px 0 0 36px;	
}