.container li {
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 0 0 30px;
}

.typekit-badge {
    display:none !important;
}

h1 {
    font-weight:500;    
}

/* Progress bar */
.sticky div#progress {
	height: 3px;
	display: none;
}

.sticky div#progress div#progressBar {
	background: orange;
	width: 0%;
	height: 100%;
}

.sticky ul li.sticky-title {
	position: absolute;
	left: 49px;
	top: 16px;
}

.sticky .sticky-sections {
	height: 50px;
}

.sticky .sticky-sections span, .sticky .sticky-sections a {
	color: #b2b2b2;
	display: inline-block;
	margin: 0;
	height: 30px;
	font-size: 10pt;
	font-weight: 100;
	padding: 17px 10px 15px 10px;
}

.sticky .sticky-sections a {
	color: #b2b2b2;
	transition: all .2s ease;
	-moz-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
}

.sticky .sticky-sections a:hover {
	color: white;
	transition: all .2s ease;
	-moz-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
}

section p.content {
    position: relative;
    display: block;
    width: 600px;
    margin: 20px 0;
    line-height: 1.6em;
}

section.one {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 50px;
}

section div.container {
    width: 960px;
    margin: 0 auto;
}

section.one div {

}

section.two {
    display: block;
    position: relative;
    margin: 834px 0 0;
    background: white;
    z-index: 10;
}

section.two div {}

section.three {
    margin: 0 auto;
    position: relative;
}

section.three img {
}

.yt {}

img.large {
    width: 100%;
    margin: 90px 0;
}

.video-cover h1 {
    margin: 0;
    text-transform: uppercase;
    z-index: 100;
    color: white;
    display: block;
    position: absolute;
    font-family: "league-gothic";
    font-size: 140px;
    left: 50%;
    top: 30px;
    text-shadow: 0 0 30px rgba(0,0,0,.4);
    -webkit-transition: all 1s ease;
}

.video-cover h1.active {
    text-shadow: 0 0 40px rgba(0,0,0,.8);
}

.video-cover .vid-play {
    position: absolute;
    -webkit-transition: all 1s ease;
    z-index: 100;
    bottom: 30px;
    left: 50px;
    background: url(../img/triangle.png) rgba(255,255,255,.3) no-repeat 50% scroll;
    text-indent: -9999px;
    border: 2px solid white;
    border-radius: 15px;
    width: 181px;
    height: 120px;
    background-size: 60px;
    opacity: .8;
}

.video-cover .vid-play.active {
    opacity: 1;
    box-shadow: 0 0 40px black;
}


/* Main content start */
div#container {
	height: 10000px;
}

span.dropcap {
    display: block;
    font-weight: bold;
    position: relative;
    float: left;
    font-size: 33px;
    width: 28px;
    height: 25px;
    text-align: left;
    line-height: 23px;
    clear: none;
}

/* Fake height for now */
.section {
	padding-top: 52px;
}

section.one {
	padding-top: 0;
}

div.video-cover {
	width: 100%;
	position: absolute;
	left: 0;
	cursor: pointer;
	overflow-y: hidden;
}

div.video-cover img {
	width: 100%;
	/*position: relative;
	top: -60px;*/
	position: absolute;
	bottom: 0;
}

section.two h1 {
    position: absolute;
    top: 769px;
    left: 50%;
    color: white;
    margin-left: -479px;
    font-size: 110px;
    line-height: 76px;
    text-shadow: 0 0 40px rgba(0,0,0,1);
}

section.three h1 {
    position: absolute;

    font-weight: 500;
    top: 520px;
    z-index: 100;
    color: white;
    left: 50%;
    font-size: 134px;
    text-align: right;
    margin-left: 0px;
    width: 633px;
    line-height: 89px;
    text-shadow: 0 0 40px rgba(0,0,0,1);
}