body, html {
    position:relative;
    width: 100%;
}

.container li {
    font-weight: bold;
    font-size: 29px;
    margin: 0 0 -2px 55px;
}

.typekit-badge {
    display:none !important;
}

h1 {
    font-weight:500;    
    padding: 0 0 0 15px;
}

/* Progress bar */
.sticky div#progress {
	height: 3px;
	display: none;
}

.sticky div#progress div#progressBar {
	background: orange;
	width: 0%;
	height: 100%;
}

.sticky ul li.sticky-title {
	position: absolute;
	left: 49px;
	top: 16px;
	display: none;
}

.sticky .sticky-sections {
	height: 50px;
}

.sticky-sections a:after{
    content: url('../img/down.png');
    -webkit-transition: all 10s ease;
    opacity: 0;
    display: block;
    position: absolute;
    z-index: 1000000;
    left: 50%;
    bottom: -23px;
    margin-left: -10px;
}

.sticky-sections a.active:after{
    opacity:1;
}


.sticky .sticky-sections span, .sticky .sticky-sections a {
	color: #b2b2b2;
	display: inline-block;
	margin: 0;
	height: 19px;
	font-size: 10pt;
	font-weight: 100;
	padding: 17px 10px 15px 10px;
	position: relative;
}

.sticky .sticky-sections a {
	color: #b2b2b2;
	transition: all .2s ease;
	-moz-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
}

.sticky .sticky-sections a:hover {
	color: white;
	transition: all .2s ease;
	-moz-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
}

.sharethis {
	margin-bottom: 20px;
}

section p.content {
    position: relative;
    display: block;
    width: 600px;
    margin: 0 0 25px;
    padding: 0 0 0 15px;
    font-size: 18px;
    line-height: 28px;
    color: #333;
    font-family: Georgia;
    overflow: visible;
}

section.one {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 50px;
}

section div.container {
    width: 960px;
    margin: 0 auto;
}

section.one div {

}

section.two {
    display: block;
    position: relative;
    margin: 834px 0 0;
    background: white;
    z-index: 10;
    padding: 80px 0 0;
}

section.two div {
    height: auto;
    overflow: auto;
    position: relative;
}

section.three {
    margin: 0 auto;
    position: relative;
}

section.three img {
}

.yt {
    max-height: 620px;
    z-index: 1;
}

section .largecontainer {
    position: relative;
    margin: 90px 0;
    width: 100%;
}

img.large {
    width: 100%;
    margin: 0;
}

.video-cover h1 {
    margin: 0;
    text-transform: uppercase;
    z-index: 100;
    color: white;
    display: block;
    position: absolute;
    font-family: "league-gothic";
    font-size: 140px;
    left: 37px;
    top: 0px;
    text-shadow: 0 0 30px rgba(0,0,0,.4);
    -webkit-transition: all .5s ease;
    padding: 0;
}

.video-cover h1.active {
    text-shadow: 0 0 40px rgba(0,0,0,.8);
}

.video-cover .vid-play {
    position: absolute;
    -webkit-transition: all .5s ease;
    z-index: 100;
    bottom: 70px;
    left: 50px;
    background: url(../img/triangle.png) rgba(255,255,255,.3) no-repeat 50% scroll;
    text-indent: -9999px;
    border: 2px solid white;
    border-radius: 15px;
    width: 181px;
    height: 120px;
    background-size: 60px;
    opacity: .5;
}

.video-cover .vid-play.active {
    opacity: 1;
    box-shadow: 0 0 40px black;
}

.calltoaction {
    z-index: 1000;
    position: absolute;
    -webkit-transition: all .5s ease;
    bottom: 8px;
    color: white;
    left: 50px;
    font-size: 39px;
    font-family: "league-gothic";
    text-shadow: 0 0 10px black;
}

.calltoaction.active {
    text-shadow: 0 0 20px black;
}


/* Main content start */
div#container {
	height: 10000px;
}

span.dropcap {
    display: block;
    font-weight: 100;
    position: relative;
    float: left;
    font-size: 53px;
    width: 41px;
    height: 46px;
    text-align: left;
    line-height: 54px;
    clear: none;
    color: #FF7F66;
    font-family: Helvetica, arial, sans-serif;
    overflow: visible;
}

/* Fake height for now */
.section {
	position: relative;
	padding-top: 52px;
}

section.one {
	padding-top: 0;
}

div.video-cover {
	width: 100%;
	position: absolute;
	left: 0;
	cursor: pointer;
	overflow-y: hidden;
	max-height: 620px;
	z-index: 1000;
}

div.video-cover img {
	width: 100%;
	/*position: relative;
	top: -60px;*/
	position: absolute;
	bottom: 0;
}

section.two h1 {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    font-size: 110px;
    line-height: 76px;
    text-shadow: 0 0 40px rgba(0,0,0,1);
    padding: 0;
}

section.three h1 {
    position: absolute;
    font-weight: 500;
    z-index: 100;
    color: white;
    right: 30px;
    font-size: 111px;
    text-align: right;
    width: 633px;
    line-height: 75px;
    text-shadow: 0 0 40px black;
    bottom: 10px;
}

section.five .largecontainer {
    margin-bottom: 110px;
}

section.five .largecontainer h1 {
    position: absolute;
    top: 70px;
    left: 20px;
    color: white;
    font-size: 110px;
    line-height: 76px;
    text-shadow: 0 0 40px rgba(0,0,0,1);
    padding: 0;
}

section.five .largecontainer h2 {
    position: absolute;
    color: white;
    top: 132px;
    left: 20px;
    text-shadow: 0 0 20px black;
    font-family: "league-gothic";
    font-size: 60px;
    text-transform: uppercase;
    line-height: 43px;
}

section.five .container h1 {
    font-size: 60px;
    color: #333;
    margin: 0 0 0px;
    line-height: 30px;
}

section.five .container h2 {
    color: #333;
    font-family: "league-gothic";
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    margin: 0;
    padding: 0 0 0 15px;
}

section.five .container h2 span.at {
    font-size: .7em;
}

section.five .container h3 {
    display: block;
}

section.five .container ul.images {
    margin: 45px 0 56px 17px;
}

section.five .container ul.images li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0 25px 0 0px;
    color: #333;
}

section.five .container ul.images li a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
}

section.five .container ul.images li.eng {
    background: url(../img/eng.jpg) top left no-repeat scroll;
    width: 265px;
    height: 53px;
}

section.five .container ul.images li.mradio {
    background: url(../img/mradio.jpg) top left no-repeat scroll;
    width: 264px;
    height: 72px;
}

section.five .container ul.images li.mconnex {
    background: url(../img/mconnex.png) top left no-repeat scroll;
    width: 280px;
    height: 66px;
}

section.five .container ul {
    font-family: Georgia, serif;
    margin: -20px 0 60px 0;
    padding: 0;
}

section.five .container ul li {
    font-weight: 100;
    font-size: 18px;
    color: #333;
}

section.five h2 {}

section p.right {
    float: right;
    width: 310px;
}

a.blau {
    display: block;
    text-align: right;
    border: thin solid #d7d7d7;
    background: url(../img/map.png) #fafafa no-repeat 6px 6px;
    font-size: 14px;
    height: 100px;
    width: 190px;
    padding: 6px 6px 6px 106px;
    text-decoration: none;
    font-family: Helvetica,arial, sans-serif;
}


/* mobile text disabled */
div.mobile {
	display: none;
}

/* When the width cannot hold all five choices at top, then change to 1,2,3,4,5 */
@media only screen and (max-width: 874px) {
	div.desktop {
		display: none;
	}
	
	div.mobile {
		display: block;
	}
	
	.sticky ul li.sticky-title {
		display: block;
		font-size: 10pt;
	}
}
