/* CSS Document */

#main {
	background: white;
	overflow: auto;
}
	
#main p, #checklist div p {
	color: #222;
	font-weight: normal;
}

span.steps, span.checked {
	font-weight: bold;
	color: #00285C;
}

span.checked {
	color: #E79500;
}

.styled {
	position: absolute;
	width: 99px;
	height: 128px;
	background: url(../img/unchecked.png) no-repeat;
	display: block;
}

#bottom-title, #img-nav-div {
	background: #212A55;
}

#bottom-title {
	color: white;
	width: 90%;
	margin: auto;
	padding-left: 1em;
	font-size: 10pt;
	font-weight: 100;
	padding: 4px 7px 0;
}

.twitter-timeline {
    margin: 0 auto;
    width: 100%;
}

@media only screen and (max-width: 800px) {
	#container, #main {
		height: 100%;
	
	}

	.twitter-timeline {
		
	}
	
	.bottom {
		width: 100%;
		background: white;
		position: fixed;
		bottom: 0%;
		white-space: nowrap;
	}
	
	div#img-nav-div{
		white-space: nowrap;
	}
	
	#bottom-scrollbackground {
		background: #212A55;
	}
	
	#top-content-mobile {
		display: block;
	}
	
	.display-when-desktop {
		display: none;
	}
}

@media only screen and (min-width: 801px) {
	#main {
		margin-bottom: 0;
	
		min-height: 300px;
		overflow: auto;
}
	
	.bottom {
		background: white;
		margin: 0 5px 0 5px;
	}
	
	#bottom-title, .flex-control-nav {
		background: #657E9D;
	}
	
	#top-content-mobile {
		display: none;
	}
	
	.display-when-desktop {
		display: block;
	}
}