/* CSS Document */
ul#result-image {
	white-space: normal;
	overflow-y: visible;
}

div#result-div {
	height: 300px;
}

#result-explore {
	height: 50px;
}

.explore {
	font-family: Chalkduster, Tahoma, Geneva, sans-serif;
	color: white;
	margin: 0 10px;
	font-weight: 100;
	background: url(../img/arrow.png) no-repeat right 2px;
	font-size: 15px;
	padding: 0px 56px 12px 0;
	text-decoration: none;
}

.innerIMG {
	border: 5px solid orange;
	margin: 10px;
	float: left;
}