/* CSS Document */
#main {
	background: #254874;
	padding: 1px 0 0 0;
	margin: 0;
}

a {
	color: white;
	text-decoration: none;
}

#main p {
	margin-top: 0;
}

#main p a {
	color: #2026B9;
}

ul#nav, ul.inside-nav {
	overflow: hidden;
	margin: 0;
	padding-left: 10px;
}

ul#nav li, ul.inside-nav li {
	list-style: none;
	color: white;
	float: left;
	background: #657E9D;
	margin: 0 1em 0 0;
	font-size: 9pt;
	padding: 5px 10px 5px 10px;
}

ul#nav li.current {
	background: #254874;
}

ul.inside-nav {
	margin: 10px 0 0 0;
}

div.scroll-background {
	background: #657E9D;
}

div.scroll-right {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	background: #657E9D;
	
	/*white-space: nowrap;
	background: #657E9D;
	height: 150px;*/
}

ul.imgs-nav {
	display: inline-block;
	height: 140px;
	white-space: nowrap;
	margin: 0;
	padding: 0 10px 0 0;
	overflow-y: hidden;
}

ul.imgs-nav li {
	height: 100%;
	display: inline-block;
}

img.scroll-img {
	border: 2px solid white;
	margin: 10px 0 10px 10px;
}

ul.imgs-nav li {
	margin: 0;
	padding: 0;
}

ul.imgs-nav li a{
	color: black;
}

div.transparent {
    position: relative;
	padding: 0px;
	width: 93px;
    bottom: 58px;
    height: 40px;
    background: rgba(255, 255, 255, .7);
    color: #2A4872;
	margin-left: 12px;
	font-size: 10pt;
    font-weight: 500;
    overflow: hidden;
}

div.transparent .title {
    padding: 2px;

	
    display: block;
    position: relative;
}

div {
	white-space: normal;
}

/* To layout horizontal LIs */
.scrollview-right {
    white-space: nowrap;
}

.scrollview-right li {
    display: inline-block;
}

/* For IE 6/7 - needs inline block hack (and the background color mentioned above) */
.scrollview-right li {
    *display: inline;
    *zoom: 1;
}