/* CSS Document */
.promoHolderYoutube, .youtubeColorbox, .youtube-div {
	width: 200px;
	height: 200px;
	overflow: hidden;
}

a.youtubeColorbox img {
	height: 270px;
	margin-top: -35px;
	margin-left: -80px;
}

a.youtubeColorbox {
	text-decoration: none;
}

div.youtube-title {
	color: white;
	width: 200px;
	height: 50px;
	padding: 5px;
	position: relative;
	top: 140px;
	left: 0;
	background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(103, 104, 105, .8));
}

div.youtube-title p {
	margin: 2px 0;
}