div#topcontainer {
	background: url(../img/banner.jpg) 50% -25px scroll;
}

div#top h1 {
    text-indent: -9999px;
    width: 470px;
    height: 100px;
    margin: 5px 0 0 0;
    background: url(../img/differenttitle.png) no-repeat scroll top left;
}


div#top h1 img {
	height: 70px;
	margin: 0 0 0 -468px;
	position: absolute;
	top: 10px;
	left: 50%;
}

div.transparent {
    position: absolute;
    padding: 6px;
    bottom: 0;
    height: 119px;
    background: rgba(0, 0, 0, .4);
    color: #ccc;
	
	/* display none initially */
	display: none;
}

div#contenttop div {
	float: left;
	width: 350px;
	color: white;
	margin-top: 39px;
	margin-left: 30px;
	font-size: 30pt;
	font-weight: 100;
}
div#contenttop img {
	float: left;
}

div#contentmain {
	padding-top: 3em;	
}

#main2, #main3 {
    float: right;
    display: block;
    margin: 30px 0 60px;
    clear: both;
}

div#withimg img {
	float: right;
	margin-left: 1em;
}

div#fantasy {
    text-indent: -9999px;
	
    display: block;
    position: relative;
    background: url(../img/bestsociety.png) no-repeat top left;
    width: 338px !important;
    height: 322px;
}