/* CSS Document */
body {
	background: white;
	font-family: "proxima-nova";
}

header {
	display: block;	
	position: relative;
	height: 40px;
	background: #363A38;
	z-index: 10;
}

footer {
	display: block;	
	position: relative;
	height: 400px;
	background: #6C090E;
	z-index: 10;
	-webkit-box-shadow: inset 0px 0px 170px -10px rgba(0, 0, 0, .6);
	box-shadow: inset 0px 0px 170px -10px rgba(0, 0, 0, .6);
}

div#topcontainer {
	display: block;	
	position: relative;
	margin: -1px auto;
	height: 350px;
	background: url(../img/banner.jpg) 50% -25px scroll;
	opacity: 1;
	overflow: visible;
	z-index: 1;
}

div#top {
	display: block;	
	position: absolute;
	width: 1600px;
	height: 96px;
	top: 50px;
	left: 50%;
	right: 0;
	margin: 0 0 0 -54px;
	background: rgba(34,147,30,.8);
	opacity: 1;
	font-size: 42pt;
	font-weight: 100;
	color: white;
	padding-left: 50px;
}

div#top h1 {
    text-indent: -9999px;
	
    background: url(../img/differenttitle.png) no-repeat scroll top left;
    width: 470px;
    height: 94px;
    margin: 7px 0 0 0;
}

div#top h1 img {
	height: 70px;
	margin: 0 0 0 -468px;
	position: absolute;
	top: 10px;
	left: 50%;
}

div#contentcontainer {
	display: block;	
	min-height: 1000px;
	width: 100%;
	background: #53B1DC;
	-webkit-box-shadow: inset 0px 0px 100px -10px rgba(0, 0, 0, 1); 
	box-shadow: inset 0px 0px 170px -10px rgba(0, 0, 0, .6);
	z-index: -1;
	padding: 0 0 100px;
}

div#content {
	display: block;
	position: relative;
	width: 960px;
	margin: 0px auto;
	overflow: visible;
	padding: 7em 0;
}

div.transparent {
    position: absolute;
    padding: 6px;
    bottom: 0;
    height: 119px;
    background: rgba(0, 0, 0, .4);
    color: #ccc;
	
	/* display none initially */
	display: none;
}

a.title {
	display: block;	
	margin: 0 0 3px;
	color: #0E98C4;
	text-decoration: none;
	font-weight: 100;
	font-size: 20px;
}

div#contenttop {
}

div#contenttop div {
	float: left;
	width: 350px;
	color: white;
	margin-top: 39px;
	margin-left: 30px;
	font-size: 30pt;
	font-weight: 100;
}

#content img {
	box-shadow: 0px 0px 21px rgba(0, 0, 0, .8);	
}

div#contenttop img {
	float: left;
}

#main2, #main3 {
    float: right;
	
    display: block;
    margin: 30px 0 60px;
    clear: both;
}

div#contentmain {
	clear: both;
	color: white;
	font-size: 12pt;
	font-weight: 100;
	margin: 1em;
	padding-top: 2em;
}

div#contentmain p {
	margin-bottom: 1em;
	width: 500px;
	line-height: 1.5em;
	font-size: 1.2em;
	font-weight: 100;
}

div#withimg img {
	float: right;
	margin-left: 1em;
}

div#fantasy {
    text-indent: -9999px;
	
    display: block;
    position: relative;
    background: url(../img/bestsociety.png) no-repeat top left;
    width: 338px !important;
    height: 322px;
}

#main {
	overflow: hidden;	
}