div#topcontainer {
	background: url(../img/banner.jpg) 50% 0px scroll;
	
	/* IE 6, 7, 8 */
	background: url(../img/banner.jpg) \9;
}

div#top h1 {
    text-indent: -9999px;
    width: 470px;
    height: 100px;
    margin: 8px 0 0 0;
    background: url(../img/beyond.png) no-repeat scroll top left;

}

div#top h1 img {
	height: 70px;
	margin: 0 0 0 -588px;
	position: absolute;
	top: 10px;
	left: 50%;
}

div.transparent {
    position: absolute;
    padding: 6px;
    bottom: 0;
	left: 0px \9;
    height: 119px;
    background: rgba(0, 0, 0, .4);
    color: #ccc;
	
	/* display none initially */
	display: none;
}

div#contenttop div {
	float: left;
	width: 350px;
	color: white;
	margin-top: 39px;
	margin-left: 10px;
	font-size: 30pt;
	font-weight: 100;
}


div#contenttop img {
	float: left;
}

div#contentmain p {
	margin: 0 0 1em .6em;
	width: 420px;
	line-height: 1.5em;
	font-size: 1.2em;
	font-weight: 100;
}


#main2, #main3 {
    float: right;
	
    display: block;
    margin: 30px 0 60px;
    clear: both;
}

div#withimg img {
	float: right;
	margin-left: 1em;
}

div#fantasy {
    text-indent: -9999px;
	
    display: block;
    position: relative;
    background: url(../img/bestsociety.png) no-repeat top left;
    width: 338px !important;
    height: 322px;
}

ul#nav {
    position: absolute;
    display: block;
    width: 345px;
    right: 110px;
    top: 71px;
    overflow: visible;
}

ul#nav li {
    position: relative;
    list-style: none;
    margin: 0px;
    width: 430px;
    height: 245px;
    float: left;
    background: #fff;
    margin: 0px;
	box-shadow: 0px 0px 70px -6px rgba(0, 0, 0, .8);
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
	-mos-transition: opacity 500ms ease-out;
	-o-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
	/*-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;*/
}

ul#nav li.wide {
    margin: 0 0 0 0;
	
    width: 442px;
}

/* image hovering animation */
ul#nav li:hover img{
	opacity: .15;
	-webkit-transition: opacity;
	-mos-transition: opacity 500ms ease-out;
	-o-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
	/*-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;*/
}

div.transparent {
    position: absolute;
    -webkit-transition: all .4s ease;
	-mos-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	
    padding: 0px;
    bottom: 0;
    height: 119px;
    background: rgba(10, 10, 10, 0);
    color: #ccc;
	
	/* display none initially */
	
    display: block;
    width: 100%;
    cursor: pointer;
}

/* IE 6, 7, 8 */
.subtitle {
	visibility: hidden \9;
}

ul#nav li:hover div.transparent {
    position: absolute;
    -webkit-transition: all .4s ease;
	-mos-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
    padding: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 144px;
    background: rgba(10, 10, 10, .8);
    color: #ccc;
    display: block;
    overflow: hidden;
	
	/* IE 6, 7, 8 */
	background: #0A0A0A \9;
	filter: Alpha(Opacity=80) \9;
}

/* IE 6, 7, 8 */
ul#nav li:hover .subtitle {
	visibility: visible \9;
}

ul#nav li:hover div.transparent .title {
	background: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
}

ul#nav li:hover div.transparent .title a, ul#nav li:hover div.transparent .title a:visited {
	color: #0E98C4 !important;
}
div.transparent .subtitle {
	opacity: 0;
    -webkit-transition: all .4s ease;
	-mos-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	display:  block;
	margin: 0 10px;
	font-weight: 100;
}

ul#nav li:hover div.transparent .subtitle {
	opacity: 1;
}


.title {
	-webkit-transition: all 1s ease;
	-mos-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	display: block;	
	margin: 70px 0 0;
	padding: 0;
	text-indent: 0px;
	background: #333;
	width: 100%;
	box-shadow: 0px 3px 2px rgba(0, 0, 0, .3);
	overflow: hidden;
}

.title a {
	display: block;
	color: #eee;
	font-size: 18px;
	font-weight: 100;
	margin: 10px 0 3px 10px;
	text-decoration: none;
}

#gallery, #gallery2, #video {
    display: none;
}

#main {
	overflow: hidden;	
}

#lightbox-container-image img {
    width: 630px;
    float: left;
}

#lightbox-container-image-data-box {
    width: 340px !important;
	
    position: absolute;
    top: 19px;
    left: 50%;
    margin: 0 0 0 140px !important;
}

#lightbox-container-image-data #lightbox-image-details {
    width: 300px !important;
	
}

#lightbox-image-details-caption {
    font-weight: 100 !important;
	
    font-size: 1.2em;
    line-height: 1.5;
}

#lightbox-nav a {
	background-position: 0% 448px !important;	
}

#lightbox-loading {
    left: 50%;
	
    margin: 0 0 0 -238px;
    top: 180px;
}

#lightbox-loading img {
	width: 40px;	
}

#lightbox-container-image-box {
    height: 489px !important;
	
    min-width: 940px !important;
    width: 1000px !important;
}

#jquery-lightbox {
    min-width: 1170px !important;
	
}

#lightbox-secNav-btnClose {
    width: 19px !important;
	
    height: 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 100;
}

#lightbox-secNav-btnClose img {
    position: absolute;
    top: 0;
    right: 0;
}

#youtubelink {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#cee_box {
    background: #000;
    padding: 10px;
    border-radius: 10px;
}

#cee_title {
	display: none !important;	
}

#cee_closeBtn {
    text-indent: -9999px;
    display: block;
    width: 35px;
    height: 39px;
    background: url(../../img/ex.png) no-repeat -5px -5px;
    margin-bottom: 3px;
}