@charset "UTF-8";
/* CSS Document */
*:focus {
        outline: 0;
}
*:focus { outline: none; }
*::-moz-focus-inner { border: none;}

body {
	margin: 0; padding: 0;
	display: block;
	position: relative;
	width: 100%;
	font-size: 16px;
    font-weight: lighter;
}

* {
	-moz-transition: height .5s ease, opacity .5s ease, background-color 1s ease, background-image 1s ease, right .3s ease-out;
	-webkit-transition: height .5s ease, opacity .5s ease, background-color 1s ease, background-image 1s ease, right .3s ease-out;
	-o-transition: height .5s ease, opacity .5s ease, background-color 1s ease, background-image 1s ease, right .3s ease-out;
	transition: height .5s ease, opacity .5s ease, background-color 1s ease, background-image 1s ease, right .3s ease-out;
}

.hide {
	opacity: 0;	
}

.byline {
	display: block;
    font-size: 16px;	
}

section {
	display: block;
	height:1000px;
	position: relative;
	font-family: Helvetica, sans-serif;
	text-align: center;
	height: 1200px;
	background: blue;
	min-width: 100%;
	overflow: hidden;
}

.main {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 960px;
	
}

.nav-button {
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	-webkit-border-bottom-colors: none;
    -webkit-border-image: none;
    -webkit-border-left-colors: none;
    -webkit-border-right-colors: none;
    -webkit-border-top-colors: none;
	-o-border-bottom-colors: none;
    -o-border-image: none;
    -o-border-left-colors: none;
    -o-border-right-colors: none;
    -o-border-top-colors: none;
	border-bottom-colors: none;
    border-image: none;
    border-left-colors: none;
    border-right-colors: none;
    border-top-colors: none;
	
    background: none repeat scroll 0 0 white;
    border-radius: 10px 0 0 10px;
    color: #536693;
    font-size: 1.3em;
    font-weight: lighter;
    line-height: 26px;
    padding: 16px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 35%;
    width: 100px;	
}

.pre-nav-button {
	background: url("../img/backarrow.png") no-repeat scroll left 2px transparent;
    color: white;
    font-size: 1em;
    padding-left: 2px;
    position: absolute;
    right: 17px;
    text-decoration: none;
    top: 22%;
    width: 100px;
}

#navbar {
	display: block;
	position: absolute;
	top: 940px;
	height: 60px;
	width: 100%;
	z-index: 200;
	background-color: #9e0b0f;	
	transition: all 1s ease;
}

.sticky ul {
	width: 960px;
	margin: 10px auto;
	padding: 0;	
	position: relative;
}

.sticky ul li {
	list-style: none;
	display: inline;
	float: right;
	margin: 10px 0 0;
}

.sticky ul li a, .sticky ul li a:visited {
	color: white;
	text-decoration: none;
	font-size: 13px;
}

.sticky ul li.home {
	position: absolute;
	left: 0;
	margin: 0;
}



#one .nav-button {
	background: #3b2d16;
	color: white;
	top: 400px;
}
#two .pre-nav-button {
	top: 195px;
}
#two .nav-button {
	background: #725853;
	color: white;	
	top: 220px;
}
#three .pre-nav-button {
	top: 225px;
}
#three .nav-button {
	background: #807A16;
	color: white;
	top: 250px;
}
#four .pre-nav-button {
	top: 235px;
}
#four .nav-button {
	color: #625612;
    top: 260px;
}
#five .pre-nav-button {
	top: 326px;
}
#five .nav-button {
	color: #3E1917;	
}
#six .pre-nav-button {
	top: 455px;
}
#six .nav-button {
	background: none repeat scroll 0 0 #807A16;
    color: white;
    top: 480px;
}
#seven .pre-nav-button {
	top: 307px;
}
#seven .nav-button {
	color: #2B271C;	
}
#eight .pre-nav-button {
	top: 255px;
}
#eight .nav-button {
	color: #4D391A;	
}
#nine .pre-nav-button {
	top: 193px;
}
#nine .nav-button {
	top: 218px;
	color: #383C40;	
}
#ten .pre-nav-button {
	top: 253px;
}
#ten .nav-button {
	color: black;	
}
#eleven .pre-nav-button {
	top: 342px;
}
#eleven .nav-button {
	color: black;	
}

#one {
	background:url(../img/one.jpg) 50% 0 no-repeat fixed;
	color: white;
	margin: 0 auto;
	padding: 0 0 0 0;	
	top: auto !important;
	/*border-bottom: 60px solid #9e0b0f;*/
	height: 1000px;	
}

#one .main {
	background: url("../img/vert1_rpt.png") repeat-y scroll 50% 0 transparent;
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 1000px;
	height: 100%;
}

#one .subtitle {
	color: white;
    display: block;
    font-family: Helvetica,sans-serif;
    font-size: 21px;
    line-height: 40px;
    margin: 0 auto;
    width: 500px;
}

#twisters {
	background: url("../img/twisters.png") no-repeat scroll 0 100px transparent;
    height: 266px;
    margin: 0;
    padding: 100px 0 80px;
    position: relative;
    text-indent: -9999px;
    width: 924px;
}

#two {
	height: 890px;
	transition: opacity 1s ease;
	background:url(../img/two_wh.jpg) 50% 0 no-repeat fixed;
	color: white;
	margin: 0 auto;
	padding: 0 0 0 0;
	background-color: #818C8B;
	position: relative;
	
}

#two #caption {
	display: block;
    float: left;
    margin: 51px 0;
    text-align: left;
    width: 390px;	
}


#two #red {
	width: 100%;
	height: 100%;	
	opacity: 1;
	position: absolute;
	background: url(../img/two_2.jpg) no-repeat 50% 0 fixed;
	display: none;
	
}

#two #slider {
	position: relative;
	width: 500px;
	height: 438px;
	float: right;
	margin-top: 71px;	
}

#two .sliderArrows {
	display: block;
    left: 460px;
    position: absolute;
    top: 262px;
    width: 142px;	
}

#two .sliderArrows .left, #two .sliderArrows .right {
	display: block;
	position: relative;
	width: 65px;
	height: 61px;
	text-indent: -9999px;
	border: none;
}

#two .sliderArrows .left {
	background: url(../img/last_grey.png) no-repeat top left;	
	cursor: default;
	float: left;
}
#two .sliderArrows .right {
	background: url(../img/next.png) no-repeat top left;
	float: right;	
}

#two #slider img {
	position: absolute;
	top: 0; left: 0;	
}

#brewing {
	background: url("../img/brewing.png") repeat scroll 0 0 transparent;
    float: left;
    height: 131px;
    margin: 85px 0 40px;
    padding: 0;
    position: relative;
    text-indent: -9999px;
    width: 800px;
	left: -100px;
	opacity: 0;
	top: 0px;
}

#three {
	height: 1000px;
	background:url(../img/three.jpg) 50% 0 no-repeat fixed;
	color: white;
	margin: 0 auto;
	padding: 0 0 0 0;
	background-color: #BDBFBF;
	border-top: 60px solid #000000;
}

#three .main {
	opacity: 0;
}	

#three #showTornadoes {
	color: white;
    display: block;
    font-size: 16px;
    position: absolute;
    right: 250px;
    top: 179px;
}

#three #showTornadoes a {
	color: white;	
}

#three div#tornadoes {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
		
}

div#tornadoes img {
	width: auto;
	height: auto;
	position: absolute;	
}

div.twister {
	opacity: 0;
	position: absolute;
	width: 2000px;
	left: 50%;
	margin: 0 0 0 -1000px;
	padding: 0 0 0 0;	
	height: 100%;
}

div#tone {
	background:url(../img/twisters/twisters.png) 50% 0 no-repeat fixed;
}

div#ttwo {
	background:url(../img/twisters/2.png) 50% 0 no-repeat fixed;
}

div#tthree {
	background:url(../img/twisters/3.png) 50% 0 no-repeat fixed;
}

div#tfour {
	background:url(../img/twisters/4.png) 50% 0 no-repeat fixed;
}

div#tfive {
	background:url(../img/twisters/5.png) 50% 0 no-repeat fixed;
}

div#tsix {
	background:url(../img/twisters/6.png) 50% 0 no-repeat fixed;
}

div#tseven {
	background:url(../img/twisters/7.png) 50% 0 no-repeat fixed;
}

div#teight {
	background:url(../img/twisters/8.png) 50% 0 no-repeat fixed;
}

div#tnine {
	background:url(../img/twisters/9.png) 50% 0 no-repeat fixed;
}

div#tten {
	background:url(../img/twisters/10.png) 50% 0 no-repeat fixed;
}

div#televen {
	background:url(../img/twisters/11.png) 50% 0 no-repeat fixed;
}

div#ttwelve {
	background:url(../img/twisters/12.png) 50% 0 no-repeat fixed;
}

div#tthirteen {
	background:url(../img/twisters/13.png) 50% 0 no-repeat fixed;
}

div#tfourteen {
	background:url(../img/twisters/14.png) 50% 0 no-repeat fixed;
}

div#tfifteen {
	background:url(../img/twisters/15.png) 50% 0 no-repeat fixed;
}

div#tsixteen {
	background:url(../img/twisters/16.png) 50% 0 no-repeat fixed;
}

div#tseventeen {
	background:url(../img/twisters/17.png) 50% 0 no-repeat fixed;
}

#seventeenintwo {
	background: url("../img/17in2.png") repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 101px;
    margin: 45px 65px 0;
    padding: 0;
    position: relative;
    right: -100px;
    text-indent: -9999px;
    width: 800px;
}

#three .subtitle {
	border-radius: 20px 20px 20px 20px;
    color: white;
    display: block;
    float: right;
    font-size: 20px;
    margin: 120px 20px;
    padding: 18px;
    text-align: left;
    width: 500px;
}

#four {
	background:url(../img/four_1.jpg) 50% 0 no-repeat fixed;
	color: white;
	margin: 0 auto;
	padding: 0 0 0 0;
	background-color: #1B260B;	
	border-top: 60px solid #827d00;
	height: 1040px;
}

#four #green {
	width: 100%;
	height: 100%;	
	opacity: 1;
	position: absolute;
	background: url(../img/four.jpg) no-repeat 50% 0 fixed;
	display: none;
	
}

#four #anearlystart {
	background: url("../img/anearlystart.png") no-repeat scroll left top transparent;
    display: block;
    height: 131px;
    margin: 91px 0 0 -17px;
    text-indent: -9999px;
    width: 600px;	
}

#four #dexter {
	display: block;
	position: relative;
	float: left;
	margin: 70px 0;	
}

#four #altruda {
	display: block;
    position: absolute;
    top: 529px;
    font-size: 11px;
    font-style: italic;	
}

#four #photo_one {
	float: left;
    margin: 150px 0;
}

#four .subtitle {
	clear: none;
    display: block;
    float: left;
    font-size: 18px;
    line-height: 38px;
    margin: -190px 0 0 90px;
    overflow: visible;
    position: relative;
    text-align: left;
    width: 310px;
}

#four .subtitle p {
    width: 310px;
	font-size: 17px;	
}

#four .subtitle img {
    display: block;
    margin: 0 auto 60px;
    position: relative;
    width: 235px !important;	
}

#five {
	background:url(../img/five.jpg) 50% 0 no-repeat fixed;
	color: white;
	margin: 0 auto;
	padding: 0 0 0 0;
	background-color: #403522;
	border-top: 60px solid #000000;
	height: 1000px;
}

#five #samson {
	border: 3px solid #3E1917;
    display: block;
    left: 50%;
    margin-left: -324px;
    padding: 3px;
    position: absolute;
    top: 41px;
    z-index: 100;	
}

#five .subtitle {
	display: block;
    font-size: 19px;
    line-height: 28px;
    margin: 0 auto;
    text-align: left;
    width: 621px;
}

#whitebg_1 {
	display: block;
    height: 422px;
    margin: 63px auto;
    overflow: visible;
    position: relative;
    width: 721px;
}

#whitebg_1 img {
	left: 0;
    position: absolute;
    top: 0;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

#wb1 {
	display: block;	
	/*-moz-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	transform: rotate(7deg);*/
}

#wb2 {
	display: block;	
	/*-moz-transform: rotate(-7deg);
	-webkit-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	transform: rotate(-7deg);*/
}

#six {
	background:url(../img/six.jpg) 50% 0 no-repeat fixed;
	color: white;
	margin: 0 auto;
	padding: 0 0 0 0;
	background-color: #818C8B;	
	border-top: 60px solid #000000;
	height: 1120px;
}

#graph {
	display: block;
    float: left;
    margin: 12px 0;
}

span.graphcaption {
	position: absolute;
	top: 1070px;
	left: 0;
	font-size: 11px;
	font-style: italic;
	color: black;	
}

#trendspotting {
	background: url("../img/trendspotting.png") repeat scroll 0 0 transparent;
    height: 224px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 111px;
    width: 800px;
}

#six p.first {
    display: block;
    margin: 70px 0 0;
}

#six p {
	color: #E0D6C7;
	float: right;
    margin: 173px 0 0 480px;
    position: relative;
    text-align: left;
    width: 490px;
}

#seven {
	background:url(../img/seven.jpg) 50% 0 no-repeat fixed;
	color: white;
	margin: 0 auto;
	padding: 0 0 0 0;
	background-color: #BDBFBF;
	border-top: 60px solid #000000;
	height: 950px;
}

#seven #texastwisters {
	background: url("../img/texastwisters.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 91px;
    margin: 28px 0 0;
    position: relative;
    text-indent: -9999px;
    width: 600px;	
}

#seven #texas {
	border: 3px solid black;
    display: block;
    left: 50%;
    margin-left: -324px;
    padding: 3px;
    position: absolute;
    top: 41px;
    z-index: 100;	
}

#seven .subtitle {
	display: block;
    float: right;
    font-size: 17px;
    line-height: 26px;
    margin: -85px 0 0;
    text-align: right;
    width: 309px;	
}

#whitebg_2 {
	clear: both;
    display: block;
    float: left;
    height: 422px;
    margin: -50px 0 0 -30px;
    overflow: visible;
    position: relative;
    width: 721px;
}

#whitebg_2 img {
	left: 0;
    position: absolute;
    top: 0;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

#wb3 {
	display: block;	
	/*-moz-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	transform: rotate(7deg);*/
}

#wb4 {
	display: block;	
	/*-moz-transform: rotate(-7deg);
	-webkit-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	transform: rotate(-7deg);*/
}

#eight {
	background:url(../img/eight.jpg) 50% 0 no-repeat fixed;
	color: white;
	margin: 0 auto;
	padding: 0 0 0 0;
	background-color: #1B260B;	
	border-top: 60px solid #000000;
	height: 800px;
}

#eight #impact {
	text-indent: -9999px;
	display: block;
	width: 319px;
	height: 130px;
	position: relative;
	float: left;
	background: url(../img/impact.png) no-repeat top left;
	
}

#eight #brown {
	background: url("../img/brownblock.png") repeat scroll 0 0 transparent;
    display: block;
    height: 413px;
    margin-top: -1120px;
    padding: 40px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 1429px;
    width: 487px;
}

#nine {
	background:url(../img/nine.jpg) 50% 0 no-repeat fixed;
	color: white;
	margin: 0 auto;
	padding: 0 0 0 0;
	background-color: #403522;
	border-top: 60px solid #000000;
}

#nine #eyeinthesky {
	background: url("../img/eyeinthesky.png") repeat scroll 0 0 transparent;
    display: block;
    height: 353px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -55px;
    text-indent: -9999px;
    top: 0;
    width: 700px;
}

#nine .subtitle {
	display: block;
    float: right;
    margin: 290px 0;
    text-align: left;
    width: 552px;	
}

#ten {
	background:url(../img/ten.jpg) 50% 0 no-repeat fixed;
	color: white;
	margin: 0 auto;
	padding: 0 0 0 0;
	background-color: #403522;
	border-top: 60px solid #000000;
	height: 800px;
}

#ten .subtitle {
	color: black;
    display: block;
    margin: 140px 0 0;
    overflow: hidden;
    text-align: left;
    width: 640px;
}

#ten .subtitle .panels {
	display: block;
    left: 0;
    margin: 0 auto;
    position: relative;
    width: 1920px;
}	

#ten .subtitle p {
	display: block;
    float: left;
    margin-right: 280px;
    width: 360px;	
}

#ten .sliderArrows {
	display: block;
    left: -71px;
    position: absolute;
    top: 18px;
    width: 65px;	
}

#ten .sliderArrows .left, #ten .sliderArrows .right {
	display: block;
	position: relative;
	width: 65px;
	height: 61px;
	text-indent: -9999px;
	border: none;
}

#ten .sliderArrows .left {
	background: url(../img/tenlast2.png) no-repeat top left;
	cursor: default;	
	float: left;
}
#ten .sliderArrows .right {
	background: url(../img/tennext.png) no-repeat top left;
	float: right;	
}

#eleven {
	background:url(../img/eleven.jpg) 50% 0 no-repeat fixed;
	color: white;
	margin: 0 auto;
	padding: 0 0 0 0;
	background-color: #403522;
	height: 1045px;
	border-top: 60px solid #000000;
}

#eleven #dopplereffect {
	background: url("../img/dopplereffect.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 98px;
    margin: 55px 0 0;
    position: relative;
    text-indent: -9999px;
    width: 650px;
}

#eleven #iphone {
	display: block;
    float: left;
    margin-top: 69px;
}

#eleven .subtitle {
	clear: none;
    display: block;
    float: right;
    margin: 130px 50px;
    text-align: left;
    width: 300px;
}

#footer {
	background: url("../img/footer.png") no-repeat scroll 50% 0 transparent;
    color: white;
    height: 550px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 11385px;
    width: 100%;
	border-top: 60px solid #000000;
}

#footer .main {
	padding: 70px 0 0;
}

#footer #credits {
	clear: both;
    color: #999999;
    display: block;
    float: left;
    font-size: 12px;
    width: 330px;
    position: absolute;
    top: 137px;
    left: 500px;
}

#credits .most_important {
	font-size: 14px;
	color: white;	
}

.fb_reset {
	display: none !important;	
}