
/* - calendarMonth.css - */
@media screen {
﻿/*  */
/*  */
/*Start Page Styles*/
.calendarPage #wrapper {
	background: url(https://caen-cms-stage.engin.umich.edu/topContentBg.jpg) 0 112px repeat-x;
}
.calendarPage .content {
	color: #212a55;
}
.calendarPage .content li {
	list-style: none;
}
.calendarPage .content .button {
	display: block;
	color: #fff;
	padding: 0 20px 0px 25px;
	text-shadow: 1px 1px 1px #000000;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	font: bold 14px/23px arial, sans-serif;
	background: #004480;
	background-image: -webkit-gradient(linear, 0% 94%, 0% 6%, color-stop(0, #003364), color-stop(1, #0097e1));
	background-image: -moz-linear-gradient(bottom, #003364, #0097e1);
	background-image: linear-gradient(#0097e1, #003364);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0px 4px #666;
	-moz-box-shadow: 0 0 4px #666;
	-o-box-shadow: 0 0 4px #666;
	box-shadow: 0 0 4px #666;
	cursor: pointer;
	border-top: 1px solid #15416b;
	border-left: 1px solid #15416b;
	border-right: 1px solid #115d9e;
	border-bottom: 1px solid #115d9e;
}
/* IE fixes */
.lt-ie9 .content .button {    
    -pie-background: linear-gradient(#1469b6, #004480);
    behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.ie9 .content .button {
    background-image: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_svg/blueGradient.svg);
}
.calendarPage .content .button:hover {
	background-image: -webkit-gradient(linear, 0% 94%, 0% 6%, color-stop(0, #0097e1), color-stop(1, #003364));
	background-image: -moz-linear-gradient(bottom, #0097e1, #003364);
	background-image: linear-gradient(#003364, #0097e1);
	color: #fff;
	text-decoration: none;
	border-bottom: none;
	border-top: 1px solid #115d9e;
	border-left: 1px solid #115d9e;
	border-right: 1px solid #15416b;
	border-bottom: 1px solid #15416b;
}
/* IE fixes */
.lt-ie9 .content .button:hover {
     -pie-background: linear-gradient(#004480, #1469b6);
    behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.ie9 .content .button:hover {
    background-image: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_svg/blueGradientHvr.svg);
}
.calendarPage .content .button:visited {
	color: #fff;
}
.calendarPage .content .active {
	opacity: 0.3;
	filter: alpha(opacity=30); /* For IE8 and earlier */
}
.calendarPage .content .active:hover {
	opacity: 0.3;
	background-image: -webkit-gradient(linear, 0% 94%, 0% 6%, color-stop(0, #003364), color-stop(1, #0097e1));
	background-image: -moz-linear-gradient(bottom, #003364, #0097e1);
	background-image: linear-gradient(#0097e1, #003364);
	border-top: 1px solid #15416b;
	border-left: 1px solid #15416b;
	border-right: 1px solid #115d9e;
	border-bottom: 1px solid #115d9e;
	cursor: default;
}
/* IE fixes */
.lt-ie9 .content .active:hover {
    -pie-background: linear-gradient(#004480, #1469b6);
    behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.ie9 .content .active:hover {
    background-image: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_svg/blueGradientHvr.svg);
}
.calendarPage .content span.rightArrow {
	display: block;
	background: url(https://caen-cms-stage.engin.umich.edu/transLinkArrow.png) 0 0 no-repeat;
	width: 9px;
	height: 11px;
	position: absolute;
	top: 50%;
	margin-top: -5.5px;
	right: 5px;
}
/*End Page Styles*/

/*Start Header Styles*/

/*Calendar Nav and Filters
  The Header, Nav, and filters are all contained in the .pageHeader
*/
.calendarPage .pageHeader {
	width: 925px;
	margin: 20px auto 0 auto;
	position: relative;
	overflow: hidden;
}
.lt-ie8 .calendarPage .pageHeader {
    margin-top:75px;
    margin-bottom:10px;
}
.calendarPage .pageHeader h1 {
	float: left;
	position: relative;
	top: 7px;
	left: 0px;
	font-size: 24px;
	width: 300px;
}
.calendarPage .pageHeader h1 span {
	font-weight: lighter;
}
.calendarPage #calendarNav {
	display: block;
	width: 400px;
	float: left;
	margin: 0px auto;
	position: relative;
}

/*Adjustment for IE 7*/
.calendarPage #calendarNav li, 
.calendarPage #calendarControls ul, 
.calendarPage #calendarFilter li {
	display: inline-block;
	float: left;
}
.calendarPage #calendarNav span.currentDate {
	height: 36px;
	text-align: center;
	display: block;
	margin-top: 3px;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	line-height: 34px;
	background-color: #345a9c;
	-webkit-box-shadow: inset 0 4px 6px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 4px 6px rgba(0,0,0,.4);
	-o-box-shadow: inset 0 4px 6px rgba(0,0,0,.4);
	box-shadow: inset 0 4px 6px rgba(0,0,0,.24);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	padding: 0 10px;
}
.calendarPage #calendarNav span#currentMonth {
	width: 100px;
}
.calendarPage #calendarNav span#currentWeek {
	width: 150px;
}
.calendarPage #calendarNav a {
	display: block;
	height: 42px;
}
.calendarPage .content #calendarNav a {
	position: relative;
	font-size: 16px;
	font-weight: bold;
	line-height: 39px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	position: relative;
	margin: 0 3px;
}
.lt-ie8 .calendarPage #calendarNav a {
	top: -2px;
}
/*Adjustment for IE 7*/
.calendarWeek #calendarNav {
	width: 520px;
	left: -90px;
}
.lt-ie8 .calendarWeek #calendarNav {
	left: -120px;
}
/*Adjustment for IE 7*/
/*Start Previous and next buttons*/
.calendarPage .content #calendarNav a.prev span {
	position: relative;
	left: 5px;
}
.calendarPage .content #calendarNav a.next span {
	position: relative;
	left: -5px;
}
.calendarMonth #calendarNav a.prev, .calendarList #calendarNav a.prev {
	background: url(https://caen-cms-stage.engin.umich.edu/calNavArrows.png) 0 0 no-repeat;
	width: 80px;
}
.calendarMonth #calendarNav a.next, .calendarList #calendarNav a.next {
	background: url(https://caen-cms-stage.engin.umich.edu/calNavArrows.png) -80px 0 no-repeat;
	width: 80px;
}
.calendarMonth #calendarNav a.next:hover, .calendarList #calendarNav a.next:hover {
	background: url(https://caen-cms-stage.engin.umich.edu/calNavArrows.png) -80px -42px no-repeat;
}
.calendarMonth #calendarNav a.prev:hover, .calendarList #calendarNav a.prev:hover {
	background: url(https://caen-cms-stage.engin.umich.edu/calNavArrows.png) 0 -42px no-repeat;
}
.calendarWeek #calendarNav a.prev {
	background: url(https://caen-cms-stage.engin.umich.edu/calNavArrowsLrg.png) 0 0 no-repeat;
	width: 130px;
}
.calendarWeek #calendarNav a.next {
	background: url(https://caen-cms-stage.engin.umich.edu/calNavArrowsLrg.png) -130px 0 no-repeat;
	width: 130px;
}
.calendarWeek #calendarNav a.next:hover {
	background: url(https://caen-cms-stage.engin.umich.edu/calNavArrowsLrg.png) -130px -42px no-repeat;
}
.calendarWeek #calendarNav a.prev:hover {
	background: url(https://caen-cms-stage.engin.umich.edu/calNavArrowsLrg.png) 0 -42px no-repeat;
}
/*End Previous and next buttons*/

/*Calendar View*/
.calendarPage #calendarView {
	float: left;
	clear: both;
}
.calendarPage #calendarView li {
	display: block;
	float: left;
	clear: both;
	margin-bottom: 3px;
}
.calendarPage #calendarView a {
	float: left;
}
.calendarPage #calendarView #monthView, .calendarPage #calendarView #weekView {
	width: 100px;
}
.calendarPage #calendarView #listView {
	width: 80px;
}
.calendarPage #calendarView #listView span.icon {
	background: url(https://caen-cms-stage.engin.umich.edu/listViewIcon.png) no-repeat scroll 0 0 transparent;
	display: block;
	width: 14px;
	height: 11px;
	position: absolute;
	top: 50%;
	margin-top: -5.5px;
	left: 5px;
}
/*Calendar Filters*/
.calendarPage #calendarFilter {
	float: left;
	width: 462px;
	height: 65px;
	position: relative;
	top: 18px;
	margin-left: 10px;
	font-weight: bold;
	color: #ffffff;
	line-height: 34px;
	background-color: #345a9c;
	-webkit-box-shadow: inset 0 4px 6px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 4px 6px rgba(0,0,0,.4);
	-o-box-shadow: inset 0 4px 6px rgba(0,0,0,.4);
	box-shadow: inset 0 4px 6px rgba(0,0,0,.24);
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-o-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	padding: 0 10px;
	behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.calendarPage #calendarFilter div, 
.calendarPage #calendarFilter label,
.calendarPage #searchEvents input, 
.calendarPage #calendarFilter select {
	float: left;
}
.calendarPage #calendarFilter input, 
.calendarPage #calendarFilter select {
	clear: both;
}
.calendarPage #calendarFilter #filterEvents {
	width: 200px;
	height: 65px;
	padding-left: 5px;
	border-right: solid 1px #5d7ab0;
}
.calendarPage #calendarFilter #filterEvents select {
	width: 180px;
	padding-left: 10px;
}
.calendarPage #calendarFilter #filterDepartments {
	width: 235px;
	padding-left: 20px;
}
.calendarPage #calendarFilter #filterDepartments select {
	width: 220px;
}
/*Calendar Search*/
.calendarPage #searchEvents {
	float: left;
	width: 180px;
	height: 65px;
	position: relative;
	top: 18px;
	margin-left: 5px;
	font-weight: bold;
	color: #ffffff;
	line-height: 34px;
	background-color: #364d73;
	-webkit-box-shadow: inset 0 4px 6px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 4px 6px rgba(0,0,0,.4);
	-o-box-shadow: inset 0 4px 6px rgba(0,0,0,.4);
	box-shadow: inset 0 4px 6px rgba(0,0,0,.24);
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-o-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	padding: 0 10px;
	behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.calendarPage #searchEvents input {
	width: 140px;
	padding-right: 20px;
}
.calendarPage #searchEvents .icon {
	background: #fff url(https://caen-cms-stage.engin.umich.edu/searchIcon.png) 1px -17px no-repeat;
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	right: 28px;
	bottom: 12px;
}
.calendarPage #searchEvents .icon:hover {
	background-position: 1px 1px;
}

/*End Header Styles*/


/*Start Calendar Styles*/
.calendarPage #calendarContainer h2 {
	font-size: 16px;
	font-weight: normal;
	height: 38px;
	width: 100%;
}
.calendarPage #calendarContainer h2 a.dayLink {
	display: block;
	position: absolute;
	padding: 6% 0 0 6%;
	width: 94%;
	height: 94%;
	text-decoration: none;
	font-size: 16px;
	font-weight: normal;
	color: #0f2856;
}
.calendarPage #calendarContainer {
	clear: both;
	padding: 20px 0;
}
.calendarPage #calendarContainer table {
	width: 90%;
	margin: 0px auto;
	text-align:center;
	clear: both;
}
.calendarPage #calendarContainer tr {
	display: block;
	margin-bottom: 2px;
	position: relative;
}
.calendarPage .content #calendarContainer th, 
.calendarPage #calendarContainer td {
	display: inline-block;
	position: relative;
	width: 13%;
	margin: 1px;
	padding: 2px;
}

.calendarWeek #calendarContainer td, 
.calendarWeek #calendarContainer .day {
	min-height: 240px;
}

.calendarPage #calendarContainer .tdInner, 
.calendarPage #calendarContainer .day {
    position:relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.calendarPage #calendarContainer .tdInner {
	position: relative;
	background: #d2d4da;
	-webkit-box-shadow: 0 0px 6px #102a58;
	-moz-box-shadow: 0 0 6px #102a58;
	-o-box-shadow: 0 0 6px #102a58;
	box-shadow: 0 0 6px #102a58;
	z-index: 0;
	behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.calendarPage #calendarContainer th {
	text-align: center;
}

.calendarPage #calendarContainer .day {
	padding: 0 0 35px;
	min-height: 240px;
	text-align: left;
	background-color: #f2f4f6;
	-webkit-box-shadow: inset 0 0 20px #c6d6ea;
	-moz-box-shadow: inset 0 0 20px #c6d6ea;
	-o-box-shadow: inset 0 0 20px #c6d6ea;
	box-shadow: inset 0 0 20px #c6d6ea;
	position: relative;
}
.calendarPage #calendarContainer .inactive .tdInner {
	opacity: 0.3;
	filter: alpha(opacity=30); /* For IE8 and earlier */
}
.calendarPage #calendarContainer .currentDay
{
    background-color: #ffffff;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.calendarPage .eventBlock {
	position: relative;
}
.calendarPage .eventBlock p {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.calendarPage .details {
	position: relative;
	padding: 5px;
	margin-bottom: 2px;
	border: solid 1px #e9c17f;
}
.calendarPage .details:hover {
    padding:4px;
    border-width: 2px;
}
.calendarList .details {
	float: right;
	width: 443px;
	border-width: 0;
}
.calendarList .details:hover {
    padding: 5px;
	border-width: 0;
}

.calendarPage .pm .details {
	background-color: #c6d6ea;
	border-color: #77aad6;
}
.calendarPage .am .details {
	background-color: #feebc4;
	border-color: #e9c17f;
}
.calendarPage .minDetails:hover {
	cursor: pointer;
}
.calendarPage .inactive .minDetails:hover {
	cursor: inherit;
}
.calendarPage .fullDetails {
	position: absolute;
	display: none;
	top: 0px;
	width: 120%;
	opacity: 0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
}
.calendarPage #calendarContainer .fullDetails {
	border-width: 1px;
	padding: 5px;
}
.calendarPage .last .fullDetails {
	right: 0px;
}
.calendarPage #calendarContainer .fullDetails p {
	position: relative;
}
.calendarPage #calendarContainer .fullDetails span.eventDate {
	position: absolute;
	font-weight: bold;
	right: 20px;
}
.calendarPage #calendarContainer .fullDetails a.closeDetails {
	position: absolute;
	font-weight: bold;
	top: 2px;
	right: 5px;
	text-decoration: none;
	color: #0f2856;
}
.calendarPage #calendarContainer .fullDetails p.description {
	padding: 5px 0;
}
.calendarPage #calendarContainer .fullDetails p.host {
	font-style: italic;
	margin-bottom: 10px;
}
.calendarPage #calendarContainer .fullDetails a.detailsLink {
	color: #0F2856;
	font-weight: bold;
	margin-top: -13px;
	position: absolute;
	right: 13px;
	text-decoration: none;
}
.calendarPage #calendarContainer .fullDetails a.detailsLink span.arrow {
	background: url(https://caen-cms-stage.engin.umich.edu/smallArrowRight.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 6px;
	margin-left: 3px;
	width: 3px;
}
.calendarPage #calendarContainer td a.moreLink {
	display: block;
	height: 15px;
	width: 100%;
	text-align: center;
	color: #0f2856;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	margin-top: 10px;
}
.calendarPage #calendarContainer td a.moreLink:hover {
    color: #020a19;
}
.calendarPage #calendarContainer td a.moreLink p {
	padding: 0px;
}
.calendarPage #calendarContainer td a.moreLink span {
	background: url(https://caen-cms-stage.engin.umich.edu/blueDownArrow.png) no-repeat scroll 6px -6px transparent;
	width: 9px;
	height: 6px;
	padding-right: 15px;
	display: inline-block;
}
.calendarPage #calendarContainer td a.moreLink:hover span {
    background-position: 6px 0;
}

/*End Calendar Styles*/

/*List View Styles*/
.calendarPage .eventListing {
	margin: 0 auto;
	position: relative;
	top: 43px;
	margin-bottom: 70px;
	width: 708px;
	overflow: hidden;
	padding: 5px;
}
.calendarPage .item {
	float: left;
	clear: both;
	background: #d2d4da;
	display: block;
	margin-bottom: 8px;
	-webkit-box-shadow: 0 0px 6px #8794ab;
	-moz-box-shadow: 0 0 6px #8794ab;
	-o-box-shadow: 0 0 6px #8794ab;
	box-shadow: 0 0 6px #8794ab;
	position: relative;
	behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.calendarPage .item.first,
.calendarPage .item.first .itemShadow {
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-o-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.calendarPage .item.last,
.calendarPage .item.last .itemShadow {
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	-o-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.calendarPage .item .shadow {
	-webkit-box-shadow: 0 0px 6px #8794ab;
	-moz-box-shadow: 0 0 6px #8794ab;
	-o-box-shadow: 0 0 6px #8794ab;
	box-shadow: 0 0 6px #8794ab;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-o-border-radius: inherit;
	position: relative;
	behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.calendarPage .itemShadow {
	padding: 10px;
	width: 688px;
	background: #f2f6fa;
	-webkit-box-shadow: inset 0 0 20px #d6deea;
	-moz-box-shadow: inset 0 0 20px #d6deea;
	-o-box-shadow: inset 0 0 20px #d6deea;
	box-shadow: inset 0 0 20px #d6deea;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-o-border-radius: inherit;
	border-radius: inherit;
	height: 100%;
	position: relative;
	overflow: hidden;
	behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.calendarPage .item .header {
	float: left;
	width: 100%;
}
.calendarPage .content .item .details .header h2 {
	margin: 0;
	background: #f2f6fa url(https://caen-cms-stage.engin.umich.edu/arrow.png) 0 7px no-repeat;
	padding-left: 10px;
	margin-top: 12px;
}
.calendarPage .content .item .details .header h2 a {
	text-decoration: none;
	color: #0e4270;
}
.calendarPage .content .item .details .header h2 a:hover {
	text-decoration: underline;
}
.calendarPage .item .itemImg {
	float: left;
	margin-right: 10px;
	width: 225px;
}
.calendarPage .item .itemImg img {
	width: 225px;
}
.calendarPage .content .item .details {
	float: left;
	width: 440px;
	height: auto;
}
.calendarPage .content .item .timeframe {
	font-size: 14px;
	font-style: italic;
	color: #0b5595;
}
.calendarPage .item p {
	display: block;
	float: left;
	color: #0e4270;
	width: 440px;
	padding-left: 10px;
	margin: 0 0 12px 0;
}
.calendarPage .item .social {
	position: relative;
	padding: 0px 0px 4px 8px;
	left: 5px;
	width: 100%;
}
.calendarList  .item .social {
	float: left;
}
.calendarPage .eventListing div.first {
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-o-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.calendarPage .eventListing div.last {
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	-o-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.calendarPage .content .moreResults {
	float: left;
	width: 100%;
}
.calendarPage .content .resultsLink {
	clear: both;
	position: relative;
	padding: 0 23px 0px 12px;
	width: 133px;
	margin: 20px auto;
	text-transform: none;
}
.calendarPage .content .resultsLink span {
	display: block;
	background: url(https://caen-cms-stage.engin.umich.edu/transDownArrow.png) 0 0 no-repeat;
	width: 11px;
	height: 9px;
	position: absolute;
	top: 50%;
	margin-top: -5.5px;
	right: 5px;
}
/* Event bar Buttons */
.calendarWeek #eventButtons {
    margin: 0px auto 20px;
    padding-left: 35px;
    width: 90%;
    overflow: hidden;
}
#eventButtons #eventReturnBtn {
	float: left;
	clear: both;
	color: #fff;
	height: 15px;
	width: 190px;
	letter-spacing: -1px;
	text-decoration: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	border: none;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	padding: 7px 12px 18px 19px;
	background: url(https://caen-cms-stage.engin.umich.edu/eventsReturnBtn.png) top left no-repeat;
	margin-top: -6px;
	behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
#eventButtons #eventReturnBtn:hover {
	background-position: bottom left;
}
#eventEmailBtn {
	width: 138px;
	float: left;
	margin-left: 12px;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	padding: 0px 19px 17px 2px;
}
#rssBtn {
	width: 138px;
	float: left;
	margin-left: 7px;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	padding: 0px 0px 17px 4px;
}
#calendarBtn {
	width: 140px;
	float: left;
	margin-left: 7px;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	padding: 0px 24px 17px 14px;
}
/* end Event Buttons */
/* button bar Button appearance logic */
#eventButtons a
{
    text-decoration:none;
    float: left;
}
.eventsBtn {
	height: 9px;
	color: #fff;
	text-shadow: 1px 1px 1px #000000;
	text-align: center;	
	border-bottom: none;
	float: right;
	position: relative;
	font: bold 14px/26px arial, sans-serif;
	background: #004480;
	background-image: -webkit-gradient(linear, 0% 94%, 0% 6%, color-stop(0, #003364), color-stop(1, #0097e1));
	background-image: -moz-linear-gradient(bottom, #003364, #0097e1);
	background-image: linear-gradient(#0097e1, #003364);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0px 4px #666;
	-moz-box-shadow: 0 0 4px #666;
	-o-box-shadow: 0 0 4px #666;
	box-shadow: 0 0 4px #666;
	cursor: pointer;
	border-top: 1px solid #15416b;
	border-left: 1px solid #15416b;
	border-right: 1px solid #115d9e;
	border-bottom: 1px solid #115d9e;
	behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.eventsBtn span {
	display: block;
	background: url(https://caen-cms-stage.engin.umich.edu/transLinkArrow.png) 0 0 no-repeat;
	width: 9px;
	height: 11px;
	position: absolute;
	top: 50%;
	margin-top: -5.5px;
	right: 10px;
}
.eventsBtn .icon {
	display: block;
	background: url(https://caen-cms-stage.engin.umich.edu/envelopeIcon.png) 0 0 no-repeat;
	width: 20px;
	height: 15px;
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	left: 8px;
}
.eventsBtn .rssspan {
	display: block;
	background: url(https://caen-cms-stage.engin.umich.edu/rssImg.png) 0 0 no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 8px;
	left: 6px;
}
.eventsBtn:hover, 
a:hover .eventsBtn {
	background-image: -webkit-gradient(linear, 0% 94%, 0% 6%, color-stop(0, #0097e1), color-stop(1, #003364));
	background-image: -moz-linear-gradient(bottom, #0097e1, #003364);
	background-image: linear-gradient(#003364, #0097e1);
	color: #fff;
	text-decoration: none;
	border-bottom: none;
	border-top: 1px solid #115d9e;
	border-left: 1px solid #115d9e;
	border-right: 1px solid #15416b;
	border-bottom: 1px solid #15416b;
	behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.lt-ie9 .eventsBtn {
	-pie-background: linear-gradient(#1469b6, #004480);
	behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.lt-ie9 .eventsBtn:hover, .lt-ie9 a:hover .eventsBtn {
	-pie-background: linear-gradient(#004480, #1469b6);
	behavior: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_fonts/pie.htc);
}
.ie9 .eventsBtn {
	background-image: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_svg/blueGradient.svg);
}
.ie9 .eventsBtn:hover, .ie9 a:hover .eventsBtn {
	background-image: url(https://caen-cms-stage.engin.umich.edu/++resource++redesign_svg/blueGradientHvr.svg);
}

/* end eventsBtn logic */
/*  */ 
}

