body {
	
}

#contentcontainer {
    padding: 0 !important;
	
}

div#main {
	pointer-events:none;	
}

header {
	display: block;	
	position: relative;
	height: 61px;
	background: #111111;
	z-index: 10;
	-webkit-box-shadow: 0 0 21px rgba(0, 0, 0, .8);
}

#impress {
    margin-top: 30px;
}

#impresscontainer {
    display: block;
	
    position: absolute;
    margin-top:20px;
}

p {
    width: 770px;
	
    font-size: .9em !important;
}

#chesney h2, #techtransfer h2, #umhealth h2, #patients h2, #kauffman h2 {
    background: url(../img/blue.png) no-repeat 0px 15px scroll;
    padding: 0px 0px 0px 43px;
    margin: 0 0 0 -48px;
}

#four81 h2, #mottfamily h2, #decamillis h2, #microsoft h2 {
    background: url(../img/yellow.png) no-repeat 0px 15px scroll;
    padding: 0px 0px 0px 43px;
    margin: 0 0 0 -48px;
}

#one00 h2, #kirsch h2, #sirkin h2, #summer h2, #autistickid h2 {
    background: url(../img/green.png) no-repeat 0px 15px scroll;
    padding: 0px 0px 0px 43px;
    margin: 0 0 0 -48px;
}

#sirkin h2, #brachial h2, #emu h2 {
    background: url(../img/red.png) no-repeat 0px 15px scroll;
    padding: 0px 0px 0px 43px;
    margin: 0 0 0 -48px;
}

.sticky {
	background: none repeat scroll 0 0 #222222;
    box-shadow: 0 2px 4px #333333;
    display: block;
    height: 51px;
    
	position: relative;
    top: 0px;
	left: 0;	
    width: 100%;
    
	overflow: auto;
	padding: 8px 0 0;
	z-index: 1000;
}

.ie7 .sticky {
}

a#circle {
	display: block;
	position: absolute;
	right: -60px;
	height: 48px;
	width: 48px;
	top: -10px;	
}

#holder {
    height: 260px;
	
}

.sticky ul {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	display: block;
	width: 960px;
	margin: 0px auto;
	padding: 0px 0 0;
	position: relative;
	overflow: visible;
	height: 45px;
	background: url(../../img/dmebadge.jpg) scroll no-repeat top left;
}

.sticky ul li {
	list-style: none;
	display: inline;
	float: right;
	margin: 4px 0 0;
}

.sticky ul li.simplify a {
	text-align: right;
	right: 0;
	position: absolute;
	width: 270px;	
}

li.dmegallery {
	right: 57px;
	display: block;
	position: absolute;
	top: 9px;
}

.sticky ul li a, .sticky ul li a:visited {
	color: white;
	text-decoration: none;
	font-size: 13px;
}

.sticky ul li.home {
	position: absolute;
	left: 0; top: 8px;
	margin: 0;
}

.sticky ul li.counts {
	float: none;	
}

#topbar {
	width: 1007px;
	padding: 10px 0 4px 0;
	/*border-bottom: thin solid #FFC421;*/
	position: relative;
	margin: 0 auto;
}

header a:hover, header a:active, header a:visited {
	background: transparent;	
}

header a.next {
	position: absolute;
	right: 10px; bottom: 10px;
}

header a.last {
	position: absolute;
	left: 10px; bottom: 10px;	
}

.go-home {
    position: absolute;
	
    right: 0;
    display: block;
    top: 0;
}

#sirkin p {
    width: 570px;
	
}

#magictitle {
	display: block;
	opacity: 0;
	-webkit-transition: all 1s ease;
	background: #333;
	font-family: Helvetica, sans-serif;
	position: absolute;
	top: -1050px;	
	width: 240px;
	left: -1210px;
	font-weight: 100;
	color: white;
	text-shadow: 0 0 10px rgba(2, 2, 2, .6);
	padding: 6px 0px 6px 3px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.impress-on-overview #magictitle {
	opacity: 1;	
}

.instructions {
    font-size: .4em;
	
    margin: 0 4px;
}