html, body {
	min-width: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a {
	color: #EB4C37;
	text-decoration:none;
}

#container {
    /*margin: 65px 0;
    
    border-top: thin solid #ececec;
    box-shadow: 0 0 30px rgba(0,0,0,.07);
    padding: 40px;
	max-width: 1198px;*/
	margin: auto;
	overflow-x: hidden;
    
	border-top: 5px solid black;
}

.flex-control-nav {
	display: none;
}

.sticky {
	background: none repeat scroll 0 0 #222222;
    box-shadow: 0 2px 4px #333333;
    -webkit-box-shadow: 0 2px 4px #333333;
    display: block;
    height: 51px;
	position: relative;
    top: 0px;
	left: 0;	
    width: 100%;
	overflow: hidden;
	padding: 3px 0 0;
	z-index: 1000;
}

.ie7 .sticky {
}

a#circle {
	display: block;
	position: absolute;
	right: -60px;
	height: 48px;
	width: 48px;
	top: -10px;	
}

#holder {
    height: 260px;
	
}

#top-header-nav a {
	text-decoration: none;
	display: inline-block;
	border: thin solid black;
	padding: 1px 6px;
	background: black;
}

.sticky ul {
	position: relative;
	display: block;
	width: 960px;
	margin: 0px auto;
	padding: 0px 0 0;
	position: relative;
	overflow: visible;
	height: 45px;
	background: url(../img/dmebadge.jpg) scroll no-repeat top left;
}

.sticky ul li {
	list-style: none;
	display: inline;
	float: right;
	margin: 4px 0 0;
}

.sticky ul li.simplify a {
	text-align: right;
	right: 0;
	position: absolute;
	width: 270px;	
}

li.dmegallery {
	right: 57px;
	display: block;
	position: absolute;
	top: 9px;
}

.sticky ul li a, .sticky ul li a:visited {
	color: white;
	text-decoration: none;
	font-size: 13px;
	font-weight: 100;
}

.sticky ul li.home {
	position: absolute;
	left: 0; top: 8px;
	margin: 0;
}

.sticky ul li.counts {
	float: none;	
}

div#top-header {
<<<<<<< HEAD
	height: 396px;
	;
=======
	height: 388px;
	
background: url(../img/top-img.jpg) #E7E7E7 50% 0px fixed repeat-x;;
>>>>>>> 4:08
;
height: 387px;
}

div#top-header div#top-header-content {
	width: 960px;
	margin: auto;
}

div#top-header-content div#top-header-logo {
	background: url(../img/top2.png) no-repeat;
	width: 336px;
	height: 61px;
	text-indent: -9999px;
	position: relative;
	top: 75px;
}

div#top-header-content div#top-header-subtitle {
	background: url(../img/top1.png) no-repeat;
	width: 600px;
	height: 100px;
	text-indent: -9999px;
	position: relative;
	top: 110px;
	left: -35px;
}

div#top-header-content div#top-header-nav {
	width: 600px;
	
	position: relative;
	top: 193px;
}

div#top-header-nav {
	filter: Alpha(Opacity=50) \9;
}

div#top-header-nav span {
	font-family: Tahoma, Geneva, sans-serif;
	color: #777;
}

div#top-header-nav img {
	margin: 0 3px 3px 3px;
}

.color-red, div#top-header-nav span.color-red {
	color: #ea4c37;
}

#top-title {
	color: #333;
	margin: 50px 0 0;
	font-weight: 100;
	font-size: 30px;
	font-family: "jaf-bernino-sans-comp", sans-serif, Arial;
	font-weight: lighter;
}

div.story-container {
	width: 960px;
	margin: auto;
	padding-bottom: 80px;
}

div.story {
	width: 960px;
}

div.story p {
	font-family: Sans-serif, Arial;
	font-weight: 100;
	color: #000;
	line-height: 1.5em;
	margin: 6px 0 20px;
	width: 550px;
}

div.story p.pullquote {
    float: right;
	
    width: 290px;
    font-family: "jaf-bernino-sans-comp", sans-serif, Arial;
    font-size: 30px;
    border-top: 14px solid black;
    border-bottom: 14px solid black;
    text-align: center;
    padding: 20px 0;
}

div.story p:first-child {
	
}

div.question {
	height: 600px;
	margin: auto;
	-webkit-box-shadow: inset 0 0 50px rgba(0,0,0,0.7);
	box-shadow: inset 0 0 50px rgba(0,0,0,0.7);
}

div.question-container {
	width: 780px;
	margin: auto;
	height: 100%;
	position: relative;
}

div.question-content {
	position: relative;
	background: white;
	height:100%;
	width: 450px;
	float: left;
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,.7);
	box-shadow: 0 0 40px rgba(0,0,0,.7);
	overflow: scroll;
}

p.what-do-you-think {
}

div.question-content p.what-do-you-think img.wdyt {
	width: 206px;
	margin: 60px auto;
}

div.question-content p.what-do-you-think img.q {
	width: auto;
	left: 50%;
	margin-left: -71px;
	top: 15px;
	position: absolute;
}

div.question-div {
	position: relative;
	display: none;
	margin: 10px 30px 30px 30px;
	color: #ccc;
	font-weight: 100;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

div.question-div p.question-p {
	cursor: pointer;
}

div.question-div.active p.question-p {
	cursor: default;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

div.question-div:hover {
	color:black;
}

div.question-div.active {
    color: black;	
}

.result-choice .q {
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    color: white;	
    font-weight: bold;
    display: block;
    float: left;
    margin: 0 10px;
    border: thin solid #BC3D2C;
    background: #EB4C37;
    height: 9px;
    padding: 6px;
    line-height: 10px;
    opacity: .4;
    filter: Alpha(Opacity=40) \9;
}

.result-choice .q {
	cursor: pointer;
}

.result-choice .q.active {
    opacity: 1;
	filter: Alpha(Opacity=100) \9;
}

form {
	position: relative;
	min-height: 100px;
}

span.next {
	position: absolute;
	width: 84px;
	display: none;
}

span.next a {
	font-size: .8em;
	position: absolute;
}

a.submitanswer {
    font-size: .8em;
    position: relative;	
    top: 50px;
    z-index: 100;
}

p.yesno {
    margin: 0 0 5px;
    position: absolute;
}

a.viewresult {
	display:none;
}

div#s1 {
	background: url(../img/q_img/s1.jpg) no-repeat center;
	background-size: cover;
}

div#s2 {
	background: url(../img/q_img/s2.jpg) no-repeat center;
	background-size: cover;
}

div#s3 {
	background: url(../img/q_img/s3.jpg) no-repeat center;
	background-size: cover;
}

div#s4 {
	background: url(../img/q_img/s4.jpg) no-repeat center;
	height: 680px;
	background-size: cover;
}

div#s5 {
	background: url(../img/q_img/s5.jpg) no-repeat center;
	height: 680px;
	background-size: cover;
}

div#s6 {
	background: url(../img/q_img/s6.jpg) no-repeat center;
	height: 680px;
	background-size: cover;
}

div.bar1 span, div.bar2 span {
    width: 100%;
    color: white;
	
    text-align: center;
    display: inline-block;
}

div.results {
    width: 270px;
    font-size: 13px;
    display: none;
	
	background: white;
	
    position: absolute;
	
    bottom: 0;
    left: 450px;
    padding: 31px 30px 0;
}

.results .charts {
    position: relative;
    border-bottom: thin solid #ececec;
    width: 260px;
    height: 290px;
    margin: 0px auto;
}

.results .bar1 {
    position: absolute;
    bottom: 0;
    /*left: 33px;*/
	left: 22px;
    border: thin solid #488DB3;
    width: 80px;
    background: #488DB3;
    height: 0px;
}

.results .bar2 {
	position: absolute;
    bottom: 0;
    /*left: 144px;*/
	left: 158px;
    border: thin solid #488DB3;
    width: 80px;
    background: #488DB3;
    
	height: 0px;
}

.results #chart div span {
    font-size: .8em;
	
    display: block;
    margin: 0 auto;
    width: auto;
    text-align: center;
}

.results .result-choice {
	text-align: center;
	overflow: visible;
	width: 132px;
	margin: 0 auto 16px;
	font-size: 17px;
	height: 23px;
}










#questions {
	display: block;
	
    position: relative;
    width: 600px;
    /*margin: auto;*/
}

input[type="radio"] {
    margin: 0 10px 0 4px;
}

li.question {
	display: none;
}

input[name="submit-answer"] {
	display: none;
}

div#results {
    width: 260px;
    margin: 60px auto;
    font-size: 13px;
    display: none;
	position: relative;
	top: 20px;
	right: 10px;
}

#result-choice a {
	font-size: 9pt;
}

#results #chart {
    position: relative;
    border: thin solid #ececec;
    width: 260px;
    height: 290px;
    margin: 20px auto;
}

#results #chart #bar1 {
    position: absolute;
    bottom: 0;
    left: 33px;
    border: thin solid #488DB3;
    width: 80px;
    background: #488DB3;
    height: 0px;
}

#results #chart #bar2 {
	position: absolute;
    bottom: 0;
    left: 144px;
    border: thin solid #488DB3;
    width: 80px;
    background: #488DB3;
    
	height: 0px;
}

#results #chart #bar3 {
	position: absolute;
    bottom: 0;
    left: 280px;
    border: thin solid #488DB3;
    width: 80px;
    background: #488DB3;
    
	height: 0px;
}

#results #chart div span {
    font-size: .8em;
	
    display: block;
    margin: 0 auto;
    width: auto;
    text-align: center;
}

div.answer-text {
	width: 50%;
	text-align: center;
	float: left;
}

.typekit-badge {
    display: none !important;
}
footer {
	display: block;
	margin: 0px 0 0 0;
	width: 100%;
	height: 350px;
	position: relative;
	clear: both;
	color: #aaa;
	background: url(../img/foot.jpg) #333 bottom center repeat-x;	
	box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
}

div#footercontainer {
    display: block;
    
	height: 350px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 960px;
	font-size: 14px;
}

footer a, footer a:visited {
	color: white;	
	text-decoration: none;
}

#breadcrumbs {
	display: block;
    margin-top: 0;
    
	padding: 40px 0 0;
    position: relative;	
}

footer #credits {
	display: block;	
	margin: 0;
}

#credits ul {
	display: block;	
	padding: 0;
	font-size: .85em;
	font-weight: 100;
	margin: 1em 0;
}

#credits ul li {
    list-style: none;
		
    margin: 0;
    padding: 0;
}

#credits ul#photocredits {
	display: block;
}	

@media screen and (max-device-width: 480px){
    body, html {
    	position:relative;
        width: 100%;
    }

    #container, #top-header, .sticky {
    	width: 100%;
    	min-width: 960px;
    }

}

@media only screen and (max-width: 800px) {
	body, #top-header {
		overflow-x: hidden;
	}
	
	div.story, div.story-container {
		width: 100%;
		padding: 5px;
	}
	
	div.story p {
		width: 90%;
	}
	
	div.story p.pullquote {
		float: none;
		margin: auto;
		padding: 0;
		margin-bottom: 20px;
	}
	
	footer {
		width: 100%;
	}
	
	div#footercontainer {
		width: 90%;
	}
	
	div.question-container, div.question-content {
		width: auto;
	}
	
	div.results {
		left: 0;
	}
	
	div.question {
		height: 1000px;
	}
	
	div#s1 {
		height: 800px;
	}
	
	div#s2 {
		height: 900px;
	}
	
	div#s3 {
		height: 800px;
	}
	
	div#s4 {
		height: 1000px;
	}
	
	div#s5 {
		height: 900px;
	}
	
	div#s6 {
		height: 900px;
	}
	
	div#top-header-content div#top-header-subtitle, 
	div#top-header div#top-header-content, 
	div#top-header-content div#top-header-nav, 
	.sticky ul {
		width: 100%;
	}
	
	.sticky ul li {
		right: -40px;
	}
	
	div#top-header-content div#top-header-subtitle {
		background-size: 100%;
		left: 5px;
	}
}

@media only screen and (max-width: 336px) {
	div#top-header-content div#top-header-logo {
		width: 100%;
		background-size: 100%;
	}
	
	div#top-header-content div#top-header-nav {
		top: 163px;
	}
}