body {
    margin: 0;
}

#container {
    /*margin: 65px 0;
    
    border-top: thin solid #ececec;
    box-shadow: 0 0 30px rgba(0,0,0,.07);
    padding: 40px;
	max-width: 1198px;*/
	margin: auto;
	overflow-x: hidden;
}

.flex-control-nav {
	display: none;
}

.sticky {
	background: none repeat scroll 0 0 #222222;
    box-shadow: 0 2px 4px #333333;
    display: block;
    height: 51px;
    
	position: relative;
    top: 0px;
	left: 0;	
    width: 100%;
    
	overflow: hidden;
	padding: 8px 0 0;
	z-index: 1000;
}

.ie7 .sticky {
}

a#circle {
	display: block;
	position: absolute;
	right: -60px;
	height: 48px;
	width: 48px;
	top: -10px;	
}

#holder {
    height: 260px;
	
}

#top-header-nav a {
	text-decoration: none;
}

.sticky ul {
	position: relative;
	display: block;
	width: 960px;
	margin: 0px auto;
	padding: 0px 0 0;
	position: relative;
	overflow: visible;
	height: 45px;
	background: url(../img/dmebadge.jpg) scroll no-repeat top left;
}

.sticky ul li {
	list-style: none;
	display: inline;
	float: right;
	margin: 4px 0 0;
}

.sticky ul li.simplify a {
	text-align: right;
	right: 0;
	position: absolute;
	width: 270px;	
}

li.dmegallery {
	right: 57px;
	display: block;
	position: absolute;
	top: 9px;
}

.sticky ul li a, .sticky ul li a:visited {
	color: white;
	text-decoration: none;
	font-size: 13px;
	font-weight: 100;
}

.sticky ul li.home {
	position: absolute;
	left: 0; top: 8px;
	margin: 0;
}

.sticky ul li.counts {
	float: none;	
}

div#top-header {
	height: 396px;
	background: url(../img/top-img2.jpg) #DFE0DA 50% scroll no-repeat;;
}

div#top-header div#top-header-content {
	width: 960px;
	margin: auto;
}

div#top-header-content div#top-header-logo {
	background: url(../img/top2.png) no-repeat;
	width: 336px;
	height: 61px;
	
	position: relative;
	top: 75px;
}

div#top-header-content div#top-header-subtitle {
	background: url(../img/top1.png) no-repeat;
	width: 600px;
	height: 100px;
	
	position: relative;
	top: 110px;
	left: -35px;
}

div#top-header-content div#top-header-nav {
	width: 600px;
	
	position: relative;
	top: 200px;
}

div#top-header-nav {
	opacity: .5;
	
	/* For IE7 8 9 */
	filter: Alpha(Opacity=50) \9;
}

div#top-header-nav span {
	font-family: Tahoma, Geneva, sans-serif;
}

div#top-header-nav img {
	margin: 0 3px 3px 3px;
}

div#top-header-nav .color-red {
	color: #ea4c37;
}

#top-title {
	color: #CCC;
	font-weight: 100;
	font-size: 20pt;
}

div.story-container {
	width: 960px;
	margin: auto;
	padding-bottom: 80px;
}

div.story {
	width: 550px;
}

div.story p {
	color: #797979;
}

div.question {
	height: 600px;
	margin: auto;
}

div.question-container {
	width: 960px;
	margin: auto;
	height: 100%;
	position: relative;
}

div.question-content {
	background: white;
	height:100%;
	width: 450px;
	float: left;
	overflow: auto;
}


div.question-content p.what-do-you-think img {
	width: 281px;
	margin: auto;
}

div.question-div {
	display: none;
	margin: 10px 30px 30px 30px;
	color: #ccc;
	font-weight: 100;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

div.question-div p.question-p {
	cursor: pointer;
}

div.question-div.active p.question-p {
	cursor: default;
}

div.question-div:hover {
	color:black;
}

div.question-div.active {
    color: black;
	
}

div#s1 {
	background: url(../img/q_img/s1.jpg) no-repeat center;
	background-size: 100%;
}

div#s2 {
	background: url(../img/q_img/s2.jpg) no-repeat center;
	background-size: 100%;
}

div#s3 {
	background: url(../img/q_img/s3.jpg) no-repeat center;
	background-size: 100%;
}

div#s4 {
	background: url(../img/q_img/s4.jpg) no-repeat center;
	height: 680px;
	background-size: 100%;
}

div#s5 {
	background: url(../img/q_img/s5.jpg) no-repeat center;
	height: 680px;
	background-size: 100%;
}

div#s6 {
	background: url(../img/q_img/s6.jpg) no-repeat center;
	height: 680px;
	background-size: 100%;
}

div.results {
    width: 270px;
    font-size: 13px;
    display: none;
	
	background: white;
	
    position: absolute;
	
    bottom: 0;
    left: 450px;
    padding: 31px 30px 0;
}

.results .charts {
    position: relative;
    border-bottom: thin solid #ececec;
    width: 260px;
    height: 290px;
    margin: 0px auto;
}

.results .bar1 {
    position: absolute;
    bottom: 0;
    left: 33px;
    border: thin solid #488DB3;
    width: 80px;
    background: #488DB3;
    height: 0px;
}

.results .bar2 {
	position: absolute;
    bottom: 0;
    left: 144px;
    border: thin solid #488DB3;
    width: 80px;
    background: #488DB3;
    
	height: 0px;
}

.results #chart div span {
    font-size: .8em;
	
    display: block;
    margin: 0 auto;
    width: auto;
    text-align: center;
}

.results .result-choice {
	text-align: center;
}










#questions {
	display: block;
	
    position: relative;
    width: 600px;
    /*margin: auto;*/
}

input[type="radio"] {
    margin: 0 10px 0 4px;
}

li.question {
	display: none;
}

input[name="submit-answer"] {
	display: none;
}

div#results {
    width: 260px;
    margin: 60px auto;
    font-size: 13px;
    display: none;
	position: relative;
	top: 20px;
	right: 10px;
}

#result-choice a {
	font-size: 9pt;
}

#results #chart {
    position: relative;
    border: thin solid #ececec;
    width: 260px;
    height: 290px;
    margin: 20px auto;
}

#results #chart #bar1 {
    position: absolute;
    bottom: 0;
    left: 33px;
    border: thin solid #488DB3;
    width: 80px;
    background: #488DB3;
    height: 0px;
}

#results #chart #bar2 {
	position: absolute;
    bottom: 0;
    left: 144px;
    border: thin solid #488DB3;
    width: 80px;
    background: #488DB3;
    
	height: 0px;
}

#results #chart #bar3 {
	position: absolute;
    bottom: 0;
    left: 280px;
    border: thin solid #488DB3;
    width: 80px;
    background: #488DB3;
    
	height: 0px;
}

#results #chart div span {
    font-size: .8em;
	
    display: block;
    margin: 0 auto;
    width: auto;
    text-align: center;
}