body {
	background: white;
	font-family: "proxima-nova";
}

header {
	display: block;
	position: relative;
	height: 61px;
	background: #111;
	z-index: 10;
	-webkit-box-shadow: 0 0 21px rgba(0, 0, 0, .8);
}

div#navigation {
	display: block;	
	position: relative;
	height: 280px;
	background: #222;
	z-index: 10;
	-webkit-box-shadow: inset 0px 0px 170px -10px rgba(0, 0, 0, .6);
	box-shadow: inset 0px 0px 170px -10px rgba(0, 0, 0, .6);
}

div#topcontainer {
	display: block;	
	position: relative;
	margin: -1px auto;
	height: 350px;
	opacity: 1;
	overflow: visible;
	z-index: 1;
}

div#top {
	display: block;	
	position: absolute;
	width: 1600px;
	height: 91px;
	top: 50px;
	left: 50%;
	right: 0;
	margin: 0 0 0 -54px;
	background: rgba(210, 32, 40, .8);
	opacity: 1;
	font-size: 42pt;
	font-weight: 100;
	color: white;
	padding-left: 50px;
}

div#contentcontainer {
	display: block;	
	min-height: 1000px;
	width: 100%;
	background: #53B1DC;
	-webkit-box-shadow: inset 0px 0px 100px -10px rgba(0, 0, 0, 1); 
	box-shadow: inset 0px 0px 170px -10px rgba(0, 0, 0, .6);
	z-index: -1;
	padding: 0 0 100px;
}


div#content {
	display: block;
	position: relative;
	width: 960px;
	margin: 0px auto;
	overflow: visible;
}


a.title {
	display: block;	
	margin: 0 0 3px;
	color: #0E98C4;
	text-decoration: none;
	font-weight: 100;
	font-size: 20px;
}

div#contenttop {
    padding-top: 6em;
}


div#contentmain {
	clear: both;
	color: white;
	font-size: 12pt;
	font-weight: 100;
	margin: 0em;
	padding-top: 4em;
}



div#contentmain p {
	margin: 0 0 1em .6em;
	width: 500px;
	line-height: 1.5em;
	font-size: 1.2em;
	font-weight: 100;
}

#main {
    overflow: hidden;
		
}


#share {
    z-index: 100;
    display: block;
    position: fixed;
    width: 38px;
    height: 216px;
    margin: -117px auto;
    right: 0;
    top: 50%;
    background-color: #333;
    padding: 8px 0;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .8);
}

ul#navsmall {
    position: absolute;
    display: block;
    width: 875px;
    height: auto;
    left: 50%;
    margin: 54px 0 0 -442px;
    overflow: visible;
    font-size: 0.8em !important;
    border: thin solid white;
}

ul#navsmall li {
	position: relative;
	list-style: none;
	margin: 0px;
	width: 175px;
	height: 159px;
	float: left;
	background: white;
	margin: 0px;
	box-shadow: 0px 0px 70px -6px rgba(0, 0, 0, .8);
	opacity: 1;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
	border: none !important;
	padding: 0px !important;
	overflow: hidden;
}

ul#navsmall li.wide {
}

/* image hovering animation */
ul#navsmall li:hover img{
	opacity: .15;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
}

div.transp {
    position: absolute;
    -webkit-transition: all .4s ease;
    padding: 0px;
    bottom: 0;
    height: 119px;
    background: rgba(10, 10, 10, 0);
    color: #ccc;
	
	/* display none initially */
	
    display: block;
    z-index: 100;
    width: 100%;
    cursor: pointer;
}

ul#navsmall li:hover div.transp {
    position: absolute;
    -webkit-transition: all .4s ease;
    padding: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 124px;
    background: rgba(10, 10, 10, .8);
    color: #ccc;
    display: block;
}

ul#navsmall li:hover div.transp .title {
	background: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
}

ul#navsmall li:hover div.transp .title a, ul#navsmall li:hover div.transp .title a:visited {
	color: #0E98C4 !important;
}
div.transp .subtitle {
	opacity: 0;
	-webkit-transition: all .4s ease;
	display:  block;
	margin: 0 10px;
	font-weight: 100;
}

ul#navsmall li:hover div.transp .subtitle {
	opacity: 1;
}


#navsmall .title {
	-webkit-transition: all 1s ease;
	display: block;	
	margin: 46px 0 0;
	padding: 0;
	text-indent: 0px;
	background: #333;
	width: 100%;
	box-shadow: 0px 3px 2px rgba(0, 0, 0, .3);
	overflow: hidden;
}

#navsmall .title a {
	display: block;
	color: #eee;
	font-size: 14px;
	font-weight: 100;
	margin: 10px 0 3px 10px;
	text-decoration: none;
}

#navsmall .current {
    opacity: .4;
	
    background: white;
    pointer-events: none;
}

#navigation h2 {
	position: absolute;
	display: block;
	width: 875px;
	height: auto;
	left: 50%;
	margin: 17px 0 0 -442px;
	color: white;
	font-size: 18px;
	font-weight: 100;
}

#navigation .home {
	position: absolute;
	display: block;
	width: 87px;
	height: auto;
	left: 50%;
	margin: 225px 0 0 -442px;
	color: white;
	font-size: 18px;
	font-weight: 100;
	text-decoration: none;
	border-bottom: 1px solid white;
}