div#topcontainer {
	background: url(../img/future.jpg) 50% -60px scroll;
	
	/* IE 6, 7, 8 */
	background: url(../img/future.jpg) \9;
}

div#top h1 {
    text-indent: -9999px;
    background: url(../img/futuretitle.png) no-repeat scroll top left;
    width: 570px;
    height: 100px;
    margin: 11px 0 0 0;
}

div#top h1 img {
	height: 70px;
	margin: 0 0 0 -201px;
	position: absolute;
	top: 10px;
	left: 50%;
}

div.transparent {
    position: absolute;
    padding: 6px;
    bottom: 0;
    height: 119px;
    background: rgba(0, 0, 0, .4);
    color: #ccc;
	
	/* display none initially */
	display: none;
}

#main1div {
    float: left;
}


#main2div {
    float: right;
    display: block;
	
}

div#withimg img {
	float: right;
	margin-left: 1em;
}

div#fantasy {
    text-indent: -9999px;
    display: block;
    position: relative;
    background: url(../img/eyemovement.png) no-repeat top left;
    width: 359px !important;
    height: 252px;
    margin: 50px 0 0 610px;
	margin-left: 10px \9; /* IE 6, 7, 8 */
	float: right \9;
}