div#topcontainer {
	background: url(../img/inspiration.jpg) #DFE0DA 50% -95px scroll no-repeat;
	
	/* IE 6, 7, 8 */
	background: url(../img/inspiration.jpg) -40px scroll \9;
}

div#top h1 {
    text-indent: -9999px;
    width: 470px;
    height: 100px;
    margin: 11px 0 0 0;
    background: url(../img/theinspiration.png) no-repeat scroll top left;
}


div#top h1 img {
	height: 70px;
	margin: 0 0 0 -321px;
	position: absolute;
	top: 10px;
	left: 50%;
}

div.transparent {
    position: absolute;
    padding: 6px;
    bottom: 0;
    height: 119px;
    background: rgba(0, 0, 0, .4);
    color: #ccc;
	/* display none initially */
	display: none;
}

div#contenttop div {
	float: left;
	width: 600px;
	color: black;
	font-weight: 100;
}

div#contenttop img {
	float: left;
}

div#contentmain {
	padding-top: 1em;	
}

#main2div {
    float: right;
    display: block;
}

div#withimg img {
	float: right;
	margin-left: 1em;
}

div#fantasy {
    text-indent: -9999px;
    display: block;
    position: relative;
    background: url(../img/fantasy.png) no-repeat top left;
    width: 320px !important;
    height: 252px;
	margin-top: 50px;
	margin-left: 10px;
}