.left {
    display: block;
    position: absolute;
    z-index: 10;
    top: 51px;
    height: 100%;
    width: 270px;
    overflow: auto;
    background: #FEC33A;
    min-height: 810px;
    box-shadow: 0 0 10px black;
}

.left .leftlogo {
    position: relative;
    display: block;
    margin: 55px auto;
    width: 180px;
}

.left .lefttext {
    width: 200px;
    text-align: center;
    display: block;
    margin: 30px auto;
    color: #032B5B;
    font-weight: 100;
    border-bottom: thin solid  #032B5B;
    border-top: thin solid #032B5B;
    padding: 20px 0;
    font-size: 16px;
    line-height: 1.5;
}

.left .readytogive {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin: 0 0 0 -95px;
}

.left .readytogive img {
    float: left;
}

.left .readytogive a {
    clear: none;
    display: block;
    margin: 9px 0;
    width: 180px;
    font-weight: 100;
    text-decoration: underline;
}

.items {
	position: absolute;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 1080px;
	left: 270px;
	top: 51px;
	height: 800px;
}

.itemcontainer {
    width: 1260px;
}

ul.slider {
	list-style: none;
}

.one-item {
	float: left;
	display: inline-block;
	width: 180px;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: width 500ms ease;
	height: 100%;
	background: #fff;
	box-shadow: 0 0 20px #333;
	opacity: 1;
	background: black;
}

.one-item:hover {
    opacity: 1;
}

.one-item .info {
    position: absolute;
    top: 10%;
    width: 156px;
    height: 180px;
    background: rgba(33,33,33,.8);
    font-size: 14px;
    color: white;
    padding: 0 12px 20px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    -webkit-transition: border .3s ease;
    transition: border .3s ease;
    z-index: 1;
    cursor: pointer;
}

.one-item:hover .info {
    border-top: 3px solid #FEC33A;
    border-bottom: 3px solid #FEC33A;
}

.one-item .info h2 {
    font-family: "league-gothic",sans-serif;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 26px;
    font-weight: 100;
    line-height: 28px;
    cursor: text;
}

.one-item .info div {
    font-weight: 100;
    cursor: text;
}

.one-item .img-cover {
    opacity: .5;
    background-color: black;
}

.one-item .img-cover img {
	width: 180px;
	min-height: 800px;
	-webkit-transition: opacity .2s ease;
}

.one-item .img-cover:hover {
	opacity: 1;
}

.img-cover:hover, #go-back:hover {
	cursor: pointer;
}

.img-cover .meta {
	display: none;
}

#go-back {
	color: #efefef;
	position: absolute;
	top: 19px;
	right: 9px;
	display: none;
	z-index: 1000;
	font-weight: 100;
	font-size: 13px;
	border-bottom: thin solid;
}

.img-src {
	display: none;
}

.item-content {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.item-content img {
    position: relative;
    width: 100%;
    display: block;
}

.content-image-div {
    display: block;
    opacity: 1;
    top: 0;
    z-index: -1;
    position: fixed;
    background: transparent;
}

.collapsed .content-info {
	
}

.content-info {
    /*position: absolute;
    top: 50%;
    left: 50%;*/
    display: block;
    background: #fefefe;
    width: 960px;
    margin: 0 auto;
    padding: 20px 20px 30px;
    box-shadow: 0 0 60px black;
    /*z-index: 1000 !important;*/
}

.content-info h2 {
    font-family: "league-gothic",sans-serif;
    margin: 0 0 10px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 58px;
}

.content-info div.body {
    width: 680px;
}

.sticky {
	background: none repeat scroll 0 0 #171100;
    /*box-shadow: 0 2px 4px #333333;
    -webkit-box-shadow: 0 2px 4px #333333;*/
    display: block;
    height: 51px;
	position: fixed !important;
    top: 0px;
	left: 0;	
    width: 100%;
	overflow: visible;
	padding: 0;
	z-index: 1000;
}

.ie7 .sticky {
}

a#circle {
	display: block;
	position: absolute;
	right: -60px;
	height: 48px;
	width: 48px;
	top: -12px;	
}

#holder {
    height: 260px;
}

#top-header-nav a {
	text-decoration: none;
	display: inline-block;
	border: thin solid black;
	padding: 1px 6px;
	background: black;
}

.sticky ul {
	display: block;
	margin: 0px auto;
	overflow: visible;
	height: 50px;
	background: url(../img/dmebadge.jpg) scroll no-repeat right 3px;
}

.sticky ul li {
	list-style: none;
	padding: 0;
	display: inline-block;
	float: right;
	margin: 4px 8px 0 0;
	color: white;
}

.sticky ul li.simplify a {
	text-align: right;
	right: 0;
	position: absolute;
	width: 270px;	
}

li.dmegallery {
	right: 57px;
	display: block;
	position: absolute;
	top: 9px;
}

.sticky ul li a {
	color: #ddd;
	text-decoration: none;
	font-size: 13px;
	font-weight: 100;
	-webkit-transition: all 1s ease;
}

.sticky ul li.home {
	position: absolute;
	/*width: 43px;*/
	overflow: hidden;
	left: 7px; top: 8px;
	margin: 0;
}

.sticky ul li.counts {
	float: none;	
}

@media only screen and (max-width: 400px) {
	ul.slider {
		margin: 0;
		padding: 0;
	}
	
	.mobile-left {
		display: none;
		position: relative;
		top: 0;
		height: 100%;
		width: 270px;
		overflow: auto;
		background: #FEC33A;
		min-height: 810px;
		box-shadow: 0 0 10px black;
	}
	
	.items, .itemcontainer {
	}
}