body {
    font-family: Arial, Helvetica, sans-serif;
}

body p:nth-child(1) {
    margin: 12px;
    
}

#videos {
    /*display: none;*/
}

#loading {
    display: block;
    width: 16px;
    height: 16px;
    background: url(img/ajax-loader.gif) no-repeat top left;
    margin: 20px auto;
}

.video-item {
    position: relative;
    width: 280px;
    margin: 0 15px 20px;
    float: left;
    height: 100px;
}

.video-content {
    padding: 0;
    width: 280px;
    height: 23px;
    margin: 0;
    position: relative;
    font-size: 11px !important;
    margin: -23px 0 20px 0px;
    background: rgba(255, 255, 255, .8);
    z-index: 10;
    pointer-events: none;
}

.video-content p {
    display: block;
    position: absolute;
    margin: 0 !important;
    font-size: 10px !important;
}

.video-content p:nth-child(1) {
    left: 3px;
    bottom: 4px;
}

.video-content p:nth-child(2) {
    right: 5px;
    bottom: 4px;
    width: auto;
    max-width: 138px;
}

.video-content p a {
    width: auto;
    background: url(http://engin.umich.edu/congrats/img/pages/map-pics/pin.png) no-repeat right top scroll;
    max-width: 138px;
    padding: 18px 24px 0 0;
    text-decoration:none;
}

iframe {
    display: block;
    margin: 0;

    
    width: 280px;
    z-index: -2;
}

.overlay {
    width: 280px;
    height: 100px;
    position: absolute;

    top: 0;
    overflow: hidden;
    z-index: 1;
	
	display: none;
}

.overlay img {
    position: absolute;
    cursor: pointer;
    left: 50%;
    margin: 0 0 0 -192px;
    width: 335px;
    z-index: -110;
}

.overlay .play {
    background: url("http://engin.umich.edu/congrats/img/pages/map-pics/map-play-arrow.png") no-repeat center center;
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none !important;
    width: 32px;
    height: 24px;
    margin: -14px 0 0 -20px;
}

/* Lazy load Youtube START*/
a.youtube-lazy-link {
  vertical-align:top;
  width:280px; 
  height: 81px;
  /*background-size:cover;*/
  
  text-decoration:none;
  color:#DDD;
  text-align:left;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display:inline-block;
}
a.youtube-lazy-link:hover {
  text-decoration:none;
  color:#FFF;
}
.youtube-lazy-link-div {
  width:280px; 
  height:100px;
  background: url(img/pages/map-pics/map-play-arrow.png)center no-repeat;
  position:absolute;
}
.youtube-lazy-link-div:hover {
}

.maplink {
    display: none !important;
    pointer-events: all !important;
}

.preview_image_player0 {
    background: #555 url(img/pages/map-pics/map1-elbel.jpg) no-repeat center scroll;
    background-size: 100%;
}

.preview_image_player1 {
    background: #555 url(img/pages/map-pics/map2-arb.jpg) no-repeat center scroll;
    background-size: 100%;
}

.preview_image_player2 {
    background: #555 url(img/pages/map-pics/map3-blimpie.jpg) no-repeat center scroll;
    background-size: 100%;
}

.preview_image_player3 {
    background: #555 url(img/pages/map-pics/map4-mainst.jpg) no-repeat center scroll;
    background-size: 100%;
}

.preview_image_player4 {
    background: #555 url(img/pages/map-pics/map5-wilsoncenter.jpg) no-repeat center scroll;
    background-size: 100%;
}

.preview_image_player5 {
    background: #555 url(img/pages/map-pics/map6-gradlibrary.jpg) no-repeat center scroll;
    background-size: 100%;
}

.preview_image_player6 {
    background: #555 url(img/pages/map-pics/map7-arcadebarber.jpg) no-repeat center scroll;
    background-size: 100%;
}

.preview_image_player7 {
    background: #555 url(img/pages/map-pics/map9-diag.jpg) no-repeat center scroll;
    background-size: 100%;
}

.preview_image_player8 {
    background: #555 url(img/pages/map-pics/map10-ingalls.jpg) no-repeat center scroll;
    background-size: 100%;
}

.preview_image_player9 {
    background: #555 url(img/pages/map-pics/map12-michtheatre.jpg) no-repeat center scroll;
    background-size: 100%;
}

.preview_image_player10 {
    background: #555 url(img/pages/map-pics/map11-videoarchive.jpg) no-repeat center scroll;
    background-size: 100%;
}

.preview_image_player11 {
    background: #555 url(img/pages/map-pics/map14-ncrec.jpg) no-repeat center scroll;
    background-size: 100%;
}

.preview_image_player12 {
    background: #555 url(img/pages/map-pics/map16-shapirolibrary.jpg) no-repeat center scroll;
    background-size: 100%;
}

.preview_image_player13 {
    background: #555 url(img/pages/map-pics/map17-billiards.jpg) no-repeat center scroll;
    background-size: 100%;
}

.preview_image_player14 {
    background: #555 url(img/pages/map-pics/map18-espresso.jpg) no-repeat center scroll;
    background-size: 100%;
}

.preview_image_player15 {
    background: #555 url(img/pages/map-pics/map15-maizeblue.jpg) no-repeat center scroll;
    background-size: 100%;
}

@media only screen and (min-width: 769px) {
	a.youtube-lazy-link, .youtube-lazy-link-div {
		width: 560px;
		height: 315px;
	}

    .maplink {
        display: none !important;
    }
	
    .video-content {
        width: 560px;
        height: 35px;
        margin-top: -35px;
    }

    .video-item {
        display:block;
        height: 315px;
        width: 560px;
    }

    .overlay {
        display: none !important;    
    }
    iframe {
    width: 560px;
    height: 315px;
    }
    .video-content p:nth-child(1) {
    font-size: 14px !important;
        
    }

    .preview_image_player0 {
        background: #555 url(img/pages/map-pics/map1-elbel-desktop.jpg) no-repeat center scroll;
        background-size: 100%;
    }

    .preview_image_player1 {
        background: #555 url(img/pages/map-pics/map2-arb-desktop.jpg) no-repeat center scroll;
        background-size: 100%;
    }

    .preview_image_player2 {
        background: #555 url(img/pages/map-pics/map3-blimpie-desktop.jpg) no-repeat center scroll;
        background-size: 100%;
    }

    .preview_image_player3 {
        background: #555 url(img/pages/map-pics/map4-mainst-desktop.jpg) no-repeat center scroll;
        background-size: 100%;
    }

    .preview_image_player4 {
        background: #555 url(img/pages/map-pics/map5-wilsoncenter-desktop.jpg) no-repeat center scroll;
        background-size: 100%;
    }

    .preview_image_player5 {
        background: #555 url(img/pages/map-pics/map6-gradlibrary-desktop.jpg) no-repeat center scroll;
        background-size: 100%;
    }

    .preview_image_player6 {
        background: #555 url(img/pages/map-pics/map7-arcadebarber-desktop.jpg) no-repeat center scroll;
        background-size: 100%;
    }

    .preview_image_player7 {
        background: #555 url(img/pages/map-pics/map9-diag-desktop.jpg) no-repeat center scroll;
        background-size: 100%;
    }

    .preview_image_player8 {
        background: #555 url(img/pages/map-pics/map10-ingalls-desktop.jpg) no-repeat center scroll;
        background-size: 100%;
    }

    .preview_image_player9 {
        background: #555 url(img/pages/map-pics/map12-michtheatre-desktop.jpg) no-repeat center scroll;
        background-size: 100%;
    }
    .preview_image_player10 {
        background: #555 url(img/pages/map-pics/map11-videoarchive-desktop.jpg) no-repeat center scroll;
        background-size: 100%;
    }
    .preview_image_player11 {
        background: #555 url(img/pages/map-pics/map14-ncrec-desktop.jpg) no-repeat center scroll;
        background-size: 100%;
    }
    .preview_image_player12 {
        background: #555 url(img/pages/map-pics/map16-shapirolibrary-desktop.jpg) no-repeat center scroll;
        background-size: 100%;
    }

    .preview_image_player13 {
        background: #555 url(img/pages/map-pics/map17-billiards-desktop.jpg) no-repeat center scroll;
        background-size: 100%;
    }

    .preview_image_player14 {
        background: #555 url(img/pages/map-pics/map18-espresso-desktop.jpg) no-repeat center scroll;
        background-size: 100%;
    }

    .preview_image_player15 {
        background: #555 url(img/pages/map-pics/map15-maizeblue-desktop.jpg) no-repeat center scroll;
        background-size: 100%;
    }

}