body {
	background: black;
}

#one {
    display: block;
    position: absolute;
    width: 1000px;
    margin: 0 auto;
    min-height: 1000px;
    opacity: .7;
    -webkit-transition: all .2s ease-out;
}

#two {
    display: block;
    position: absolute;
    width: 1000px;
    margin: 0 auto;
    min-height: 1000px;
    opacity: .7;
    -webkit-transition: all .5s ease-out;
}
#three {
    display: block;
    position: absolute;
    width: 1000px;
    margin: 0 auto;
    min-height: 1000px;
    opacity: .7;
    -webkit-transition: all 1s ease-out;
}

#four {
    display: block;
    position: absolute;
    top:1000px;
    width: 1000px;
    margin: 0 auto;
    min-height: 1000px;
    opacity: .7;
    -webkit-transition: all .2s ease-out;
}

#five {
    display: block;
    position: absolute;
    width: 1000px;
    margin: 0 auto;
    min-height: 1000px;
    opacity: .7;
    -webkit-transition: all .5s ease-out;
}
#six {
    display: block;
    position: absolute;
    width: 1000px;
    margin: 0 auto;
    min-height: 1000px;
    opacity: .7;
    -webkit-transition: all 1s ease-out;
}

#seven {
    display: block;
    position: absolute;
    top:1000px;
    width: 1000px;
    margin: 0 auto;
    min-height: 1000px;
    opacity: .7;
    -webkit-transition: all .2s ease-out;
}

#eight {
    display: block;
    position: absolute;
    width: 1000px;
    margin: 0 auto;
    min-height: 1000px;
    opacity: .7;
    -webkit-transition: all .5s ease-out;
}
#nine {
    display: block;
    position: absolute;
    width: 1000px;
    margin: 0 auto;
    min-height: 1000px;
    opacity: .7;
    -webkit-transition: all 1s ease-out;
}

#canvas1 {
    display: block;
    position: fixed;
    top: 0;
}

img {
    border: none !important;
    background: none;
    display: none;
}

svg {
    width: 2000px;
    height: 3000px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -1200px;
}

#main {
    display: block;
    position: relative;
    width: 1000px;
    margin: 0 auto;
    border: none;
}

h1 {
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 19px;
    position: relative;
    z-index: 1000;
    width: 870px;
    color: #eee;
    font-size: 124px;
    font-family: "league-gothic";
    font-weight: 200;
}

#head {
    width: 995px;
    display: block;
    position: relative;
    z-index: 100;
    padding: 65px 0 24px;
    margin: 0 auto;
    background: black;
}

h2 {
    font-size: 30px;
    color: #222;
}

.content {
    z-index: 100;
    background: white;
    margin: 40px 20px;
    display: block;
    position: relative;
    width: 600px;
    padding: 20px;
    box-shadow: 0 0 40px rgba(255,255,255,.3);
}

.content p {
    margin: 20px 0;
    font-size: 15px;
    font-weight: lighter;
    line-height: 1.5em;
}

.subtitle {
    font-style: italic;
    font-size: 18px;
    font-weight: 100;
    margin: 3px 0!important;
}

.sticky {
	background: none repeat scroll 0 0 #FFC72C;
    box-shadow: 0 2px 4px #333333;
    display: block;
    height: 51px;
    
	position: absolute;
    
	top: 199px;
	left: 0;	
    width: 100%;
    
	overflow: hidden;
	padding: 8px 0 0;
	z-index: 1000;
}

.sticky ul {
	position: relative;
	display: block;
	width: 960px;
	margin: 0px auto;
	padding: 0px 0 0;
	position: relative;
	overflow: visible;
	height: 45px;
	/*background: url(../img/dmebadge.jpg) scroll no-repeat top left;*/
}

.sticky ul li {
	list-style: none;
	display: inline;
	float: right;
	margin: 4px 0 0;
}

.sticky ul li.simplify a {
	text-align: right;
	right: 0;
	position: absolute;
	width: 270px;	
}

.sticky ul li a, .sticky ul li a:visited {
	color: #003F77;
	text-decoration: none;
	font-size: 13px;
	font-weight: 100;
}

.sticky ul li.home {
	position: absolute;
	left: 0; top: 8px;
	margin: 0;
}

.sticky ul li.counts {
	float: none;	
}

.fixed {
    position: fixed;
    top: 0;
}

/* CSS Document */
.promoHolderYoutube, .youtubeColorbox, .youtube-div {
	width: 200px;
	height: 200px;
	overflow: hidden;
}

a.youtubeColorbox img {
	height: 270px;
	margin-top: -35px;
	margin-left: -80px;
}

a.youtubeColorbox {
	text-decoration: none;
}

div.youtube-title {
	color: white;
	height: 50px;
	padding: 5px;
	position: relative;
	top: 140px;
	left: 0;
	background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(103, 104, 105, .8));
}

div.youtube-title p {
	margin: 2px 0;
}

li.dmegallery {
    position: absolute;
    right: 0;
    top: 11px;
}